[2021-05-12 18:22] hqs1 opened #3 "你好，后期是否能支持本地控制能力吗？"
一大部分选择Hass的用户基本看中了Hass的本地控制能力，不依赖云端控制。

[2021-05-23 17:42] skavinvarnan opened #4 "Can we do local control instead of going through cloud"
Your integration works fine. But is there a way to locally control my device from home assistance. As local control has less delay, and also works without internet.

[2021-05-26 02:12] chaopeng opened #5 "Please support sensor devices"
- PIR sensor
- temp and humidity sensor
- ...

[2021-05-30 04:41] zlinoliver commented on #3
@hqs1  你好，后期会提供本地局域网控制能力支持

[2021-05-30 04:44] zlinoliver commented on #4
Hi @skavinvarnan , yes, will consider to support local control for Tuya Home Assistant integration soon. Please keep checking the updates of the repo.

[2021-06-03 18:37] shawnfaleiro commented on #5
Please support sensor devices

[2021-06-03 18:38] rredeyess commented on #5
Please support sensor devices

[2021-06-07 01:40] zlinoliver commented on #5
Hi @chaopeng @f021930c we have updated the integration and add sensor devices support, please check this file: https://github.com/tuya/tuya-home-assistant/blob/master/custom_components/tuya_v2/sensor.py

[2021-06-08 00:24] philhzss commented on #5
Hi,
I've only been using Home Assistant for a few days, but I have the same issue (thermometer shows up as switch):
![image](https://user-images.githubusercontent.com/41757256/121103577-3ae1d080-c7ce-11eb-9338-24c2c6e0b88b.png)

How/when will the integration be update on Home Assistant? Can I import the .py file you linked myself, or must I wait for an official Tuya integration update in Home Assi

[2021-06-08 22:32] Kirmas opened #7 "Siterwell GS361A-H04 support"
Hello,
Standard HA integration support this device but in your integration doesn't. Autor of standard integration told that we must prefer your integration. Could you add  support, please.
link to device: https://www.china-siter.com/product/194.html?productCateId=37

![image](https://user-images.githubusercontent.com/4723134/121265558-a9ec2180-c8c1-11eb-916b-76ed2af9bb79.png)

Regards

[2021-06-09 11:12] Kirmas commented on #7
I dump TuyaDevice may be this is help.
[code]

[2021-06-09 22:44] timota opened #9 "Vacuum cleaner"
Is any plans to add support for Vacuum cleaner ?

Thanks

[2021-06-10 14:52] carlosvroque commented on #4
I just found out about this v2 integration and it looks promising! I've stopped using the v1 integration because the delay between me manually toggling a switch and the state being updated in HA took way too much time (sometimes up to 10 minutes!), I hope the newer integration is faster.

For now I'm using one unofficial Tuya Local integration that is great and reports states very fast, here's hop

[2021-06-11 03:38] tsutsuku commented on #5
@philhzss  @BadgerJed You can install the integration by following the [README](https://github.com/tuya/tuya-home-assistant#21-home-assistant-custom-components-installation)
After installing, you can see the sensor in the dashboard if the integration support now.

[2021-06-11 14:32] limbrian opened #10 "invalid authentication during setup"
getting invalid authentication during integration setup. login no issue with old version.

[2021-06-11 17:53] philhzss commented on #5
@tsutsuku Thank you, I'm trying to do it with the README instructions, but now it seems my sensor devices don't show up (even though they show up in the cloud projects). My lights do show up though.

Should I be installing the "master" branch into HACS? Because the latest release v1.1 is 15 days ago and I'm not sure you had added sensor support by then?
Thank you!

[2021-06-11 17:56] philhzss commented on #5
Oh, I got it working! I had to install "tuyav2" from HACS. It says that it's 213C, I suppose thats 21.3C.

[2021-06-11 18:57] BadgerJed commented on #5
Did you have to remove the whole original integration first before installing the V2 version? Thanks.

[2021-06-11 21:27] philhzss commented on #5
Im not sure about removing the old version, I accidentally corrupted my entire RaspberryPi last week so I had to delete everything and start from scratch. I already have a Tuya dev account for another project I did a few months back.. it says "trial" so I hope this never expires?? Im not sure. But yeah I had to create a new project like the readme says and get an access ID and password from there

[2021-06-11 21:41] philhzss opened #11 "API reports Celsius temps without the decimal (10x real number)"
My sensor indicates 21.3 C in the SmartLife app, but this API is report 213C in home assistant. This is not a very big deal and I'm sure there's a simple way I could find to divide reported values by 10, but just wanted to let you guys know!

Thank you

![image](https://user-images.githubusercontent.com/41757256/121751469-32dea500-cadc-11eb-888d-d381d78b01e4.png)

[2021-06-11 23:16] mateja176 commented on #10
I'm going through the same fiasco. I set up both the Tuya Smart Android app and the iot.tuya.com platform, however the Tuya Home Assistant integration always errors out with either:
[code]
Or
[code]
I triple checked that my credentials and country code are correct.

[2021-06-12 13:36] guigashm opened #12 "V2 does not appear in HACS"
hello,

Tuya integration V2 does not appear in HACS . only V1.1 .

thank you

[2021-06-12 15:00] guigashm commented on #11
I have the  same issue.

[2021-06-13 10:25] limbrian commented on #10
I got the issue resolved by recreate new Tuya developer account. The previous project created in my old Tuya account cannot be deleted.

[2021-06-15 03:09] tsutsuku commented on #10
@limbrian @mateja176

https://developer.tuya.com/en/docs/iot/migrate-from-an-older-version?id=Kamee9wtbd00b#title-1-Things%20to%20note

[2021-06-15 08:15] tsutsuku commented on #12
@guigashm  hi, guigashm.
Tuya integration V2 is developing, will be released soon.

[2021-06-15 20:06] BadgerJed commented on #5
I'm almost there now, I don't understand how to do this final step of the readme. Do you have any pointers thanks.
![Finl step](https://user-images.githubusercontent.com/85431111/122116360-6e031000-ce1d-11eb-9ad3-c899f696619f.JPG)

[2021-06-16 03:29] tsutsuku commented on #5
@BadgerJed  It's home assistant core launch command. you can also read
https://www.home-assistant.io/installation/linux#create-the-virtual-environment

[2021-06-16 05:18] zlinoliver commented on #5
Using the latest version of the Tuya Home Assistant Integration v2 from this github repo, you don't need to remove the old version, they can be installed simultaneously. For the "trial" version of the Tuya cloud project, you can renew it for free next year.

[2021-06-16 08:09] tsutsuku commented on #12
V1.2 released.

[2021-06-16 08:09] #12 closed

[2021-06-16 08:10] tsutsuku commented on #11
The issue fixed in V1.2.
You can update to check.

[2021-06-16 10:25] pepe59 commented on #4
The integration looks interesting, but after the experience with the cloud, I removed the device and replaced it with another manufacturer.
If it will be possible to control Tuya on the local network I will consider using it.

[2021-06-16 14:41] remb0 commented on #9
I also hope it :)

[2021-06-16 17:08] arphaxad opened #13 "Portable Airconditioner offline in platform"
My portable Aircon shows as offline in the IoT platform and Unavailable in home assistant.
but it works perfectly with the app.

[2021-06-16 20:35] #13 closed

[2021-06-17 12:08] peledzius commented on #10
Same error with fresh account and new project.

[2021-06-18 00:43] petebdeblois opened #14 "Door Window Sensor not added to device list in Integration"
According to the post on [HA forums](https://community.home-assistant.io/t/tuya-official-home-assistant-integration-on-github-now/316026/8), _"mcs",  # Door Window Sensor_ are supported in v2.
My device(50017 - V2) is added to my Tuya app and I can see it in the device list in Dev-Tuya.
Still, I cant see the device in Home Assistant Integration

[2021-06-18 02:02] tsutsuku commented on #14
@petebdeblois Can you provide your device (50017 - V2) 's device info from HA log, like this :
`
    {
      "active_time": 1623293246,
      "biz_type": 0,
      "category": "wsdcg",
      "create_time": 1622269942,
      "icon": "smart/icon/15248170831ukrdpumicrje4hs8qgl9885mi_0.png",
      "id": "xxxxxxxxx",
      "ip": "",
      "lat": "0",
      "local_key": "xxxxxxxx",
      "lon": "0",

[2021-06-18 02:56] petebdeblois commented on #14
There is none of that in my HA log, though this is accessible on the API Explorer on tuya platform
`{
  "result": {
    "active_time": 1623973628,
    "biz_type": 0,
    "category": "mc",
    "create_time": 1623953276,
    "icon": "smart/icon/ay15281362075689iOHb/c3f3735f733873187ec08fed84ec5ac9.png",
    "id": "xxxxxx",
    "ip": "xxxx",
    "lat": "46",
    "local_key": "xxxx",
    "lon": "-71",

[2021-06-18 03:35] tsutsuku commented on #14
You device's category is "mc" , which means "Door and Window Controller (mc)".
It not support by integration now.
We will consider support it in next release.

[2021-06-18 04:48] philhzss commented on #11
Hi! Thanks a lot. I'm not sure if I updated properly, but it doesn't seem fixed on my side:

![image](https://user-images.githubusercontent.com/41757256/122507721-b281dd80-cfce-11eb-90a3-c0839a2975d8.png)

To update, I updated in HACS (it told me I could update to 1.2), I restarted Home Assistant. No difference, so I removed the integration completely and re-added it, restart Home Assistant, still

[2021-06-18 11:12] petebdeblois commented on #14
So you are saying its possible and `may` be added in next release.
I bought it yesterday so this will help in the decision to keep it or not.

[2021-06-19 02:57] tsutsuku commented on #11
@philhzss
Can you provide your device's specifications for terminal log, like this:
[tuya-openapi] Request: method = GET, url = https://openapi.tuyacn.com/v1.0/devices/vdevo162372586962985/specifications, params = None, body = None, headers = {'client_id': 'xxxxxxxxx', 'sign': '8CAE7BB56BCB387542497366C4D84BCD02F588FE2D3F5F351C20EA1A17981A68', 'sign_method': 'HMAC-SHA256', 'access_token': 'xxxxxxx

[2021-06-19 03:13] philhzss commented on #11
I'm getting 400 bad request, I copied what you wrote, replacing the client ID and the access  token with my own (i didnt change the other values).. also tried changing time. Am I supposed to replace the sign too?

Thank you!

[2021-06-19 03:35] tsutsuku commented on #11
@philhzss  Don't replace your clientID and the access token.
Just install integration, and setup with your credential.
![image](https://user-images.githubusercontent.com/18442047/122629800-43050e80-d0f2-11eb-8176-db65cecd579f.png)

After hass started from terminal like this:
![image](https://user-images.githubusercontent.com/18442047/122629812-5a43fc00-d0f2-11eb-9c8b-5fa3bee55ede.png)

Found your

[2021-06-19 03:59] philhzss commented on #11
@tsutsuku Ah ok!! Thank you, I got it. Here are the logs. Something is wrong for sure, do you know what this means?

[code]

I also found this in the log, so even though there is an error its still getting some data?:
[code]

[2021-06-19 06:15] tsutsuku commented on #11
It looks like your integration not updated correctly.
Can you check your integration local file. Like sensor.py in tuya_v2.
The last version should has this code:
`
   @property
    def state(self):
        """Return the state of the sensor."""
        __value = self.tuya_device.status.get(self._code)
        print(self.tuya_device.status_range.get(self._code).values)
        if self.tuya_device.s

[2021-06-19 17:17] Zaiban opened #15 "AC shows incorrect temperature"
Hey, this is a great integration, however I have a small problem with my AC unit showing incorrect temps.

![kuva](https://user-images.githubusercontent.com/9568791/122650398-4a9cd580-d13b-11eb-923c-1bd86d9d022b.png)

Inspecting the logs, I can see that the correct temps are visible there ("temp_set": 22, "temp_current": 21):

![kuva](https://user-images.githubusercontent.com/9568791/122650183-1ff

[2021-06-19 22:48] philhzss commented on #11
@tsutsuku

Indeed it seems like something is wrong here, mine only seems to have this:

![image](https://user-images.githubusercontent.com/41757256/122657150-deb47000-d12e-11eb-85b0-d29b875493f8.png)

Thanks a lot for your help, I will try to update the integration again!

[2021-06-20 00:01] stuffmattdoes opened #16 "Support for Treatlife 2 in 1 Dimmer Switch (Fan & Light)"
Hey folks!

So I've recently purchased a [Treatlife 2 in 1 Dimmer Switch](https://www.amazon.com/gp/product/B086PQ7CHH?pf_rd_r=1B1WBDHK8BD9A1DXRNJ5&pf_rd_p=5ae2c7f8-e0c6-4f35-9071-dc3240e894a8&pd_rd_r=cc4a3fd1-ff17-4538-95ff-edd94681cba3&pd_rd_w=78XmF&pd_rd_wg=11w4N&ref_=pd_gw_unk) to use with Home Assistant. As with many similar smart devices, I've incorporated it into my Home Assistant setup by

[2021-06-20 00:04] petebdeblois opened #17 "Switch(cz) doesn't get current/voltage info"
I own a switch which is supposed to get current/voltage/kw. It does work on Tuya App, but I only have "friendly name" in HA
`{
  "result": {
    "active_time": 1624047917,
    "biz_type": 0,
    "category": "cz",
    "create_time": 1624047917,
    "icon": "smart/icon/1472009231_0.png",
    "id": "xxxxxxx",
    "ip": "xxxxxx",
    "lat": "46.",
    "local_key": "xxxx",
    "lon": "-71.",
    "name"

[2021-06-20 04:20] tsutsuku commented on #15
@Zaiban Can you provide the device's specification from log, whick like this:

[tuya-openapi] Request: method = GET, url = https://openapi.tuyacn.com/v1.0/devices/vdevo162372586962985/specifications, params = None, body = None, headers = {'client_id': 'xxxxxxxxx', 'sign': '8CAE7BB56BCB387542497366C4D84BCD02F588FE2D3F5F351C20EA1A17981A68', 'sign_method': 'HMAC-SHA256', 'access_token': 'xxxxxxxxxxx'

[2021-06-20 04:25] tsutsuku commented on #16
@stuffmattdoes Can you provide the device's info from home assistant's terminal log, which may like this:
[tuya-openapi] Request: method = GET, url = https://openapi.tuyaus.com/v1.0/users/xxxxxxxxxxxxx/devices, params = None, body = None, headers = {'client_id': 'sign': 'sign_method': 'HMAC-SHA256', 'access_token': 't': '1623992694924', 'lang': 'en'}
[tuya-openapi] Response: {
  "result": [
    {

[2021-06-20 04:29] tsutsuku commented on #17
@petebdeblois This feature is not supported now.

[2021-06-20 07:29] Zaiban commented on #15
[tuya-openapi] Request: method = GET, url = https://openapi.tuyaeu.com/v1.0/devices/05005047483fda0efb25/specifications, params = None, body = None, headers = {'client_id': 'xxxx', 'sign': 'A5548D8F561BC8FC67C5172325A927A29645B45E1280376CE5883F22F4EDDC75', 'sign_method': 'HMAC-SHA256', 'access_token': 'xxxx', 't': '1624174087218', 'lang': 'en'}
homeassistant_1    | [tuya-openapi] Response: {
homea

[2021-06-20 11:05] paullj1 commented on #16
I have this supported in my firmware for TreatLife devices here:
[https://github.com/paullj1/TreatLife-HomeKit](https://github.com/paullj1/TreatLife-HomeKit)

The key was to expose the device as one accessory with multiple services.  Pretty easy with the SDK I was using.

[2021-06-20 17:20] stuffmattdoes commented on #16
@paullj1 thanks for stopping by! I've checked out your repo prior to this. Really impressive work. At the moment, I'd like to avoid flashing since it's a bit more involved than I may be capable of doing, though I won't write it off completely.

[2021-06-20 17:23] stuffmattdoes commented on #16
@tsutsuku Here's what I've found in `/config/home-assistant.log`:

[code]

It doesn't look quite like what you have, though. Perhaps there is another log I can reference?

[2021-06-20 17:28] stuffmattdoes commented on #16
@tsutsuku I was able to query the Tuya API itself directly via `https://px1.tuyaus.com/homeassistant/auth.do`

[code]

[2021-06-21 02:08] tsutsuku commented on #16
@stuffmattdoes It looks like you install the tuya integration, which is the old version.
Please install the tuya v2 integration.
https://github.com/tuya/tuya-home-assistant#installation

[2021-06-21 02:16] tsutsuku commented on #15
@Zaiban Get it. This bug will be fixed soon.

[2021-06-21 06:55] stuffmattdoes commented on #16
@tsutsuku I have just installed the custom integration for Tuya v2 following the steps in the link you provided.

It still seems most features from the Treatlife switch are still missing, although I am now able to switch the fan on and off (I was not previously). That is all at the moment.

<img width="450" alt="Screen Shot 2021-06-21 at 2 39 22 AM" src="https://user-images.githubusercontent.com/1

[2021-06-21 11:30] tsutsuku commented on #16
@stuffmattdoes Can you provide your device's specifications from home assistant's log. like I wrote before:
https://github.com/tuya/tuya-home-assistant/issues/16#issuecomment-864497575

So I can get the problem.

[2021-06-21 11:43] tsutsuku commented on #9
@timota @remb0  We will consider it.

[2021-06-21 11:43] frankosborne commented on #10
Hey All,
I face the same issue. My project was only created yesterday.

[2021-06-21 12:22] frankosborne opened #18 "Ability to acces Scenes"
Just an enhancement request. In Tuya app. You can select specific light scenes for bulbs. e.g. Night. This light scene can do things like flash the light or phase it between different colours.

It would be awesome if this could be accessed in HA. Possibly via the colour profile string for the light.turnon service>

[2021-06-21 15:55] philhzss commented on #11
I reinstalled it completely and it's fixed!! Thank you!!

[2021-06-21 15:55] #11 closed

[2021-06-21 16:09] philhzss opened #19 "Sensors stop updating after HA restart?"
I had to restart HA through the UI, and then noticed all my temperature/humidity sensors stopped updating. Going to integrations and clicking "reload" on the tuyav2 integration seemed to refresh them once, but now it's back at not updating. I checked through the official SmartLife app and they are still updating. Found this in the logs, if it helps? :

![image](https://user-images.githubuserconten

[2021-06-21 17:51] stuffmattdoes commented on #16
I explored the Tuya developer platform a bit, and was able to see this device as well as the controls exposed. It appears to have no knowledge of the lightbulb dimmer component. I wonder if this may be a dead end? Or perhaps there is a way we can extend the Tuya API?

<img width="750" alt="Screen Shot 2021-06-21 at 1 26 21 PM" src="https://user-images.githubusercontent.com/12943795/122805950-b6945

[2021-06-22 02:10] tsutsuku commented on #19
@philhzss  Can you provide more logs? It seems something wrong when integration receives sensors' data.

[2021-06-22 02:13] tsutsuku commented on #16
Yes. When you start home assistant from terminal command. More log you can found in the terminal.

[2021-06-22 09:25] hprotzek commented on #10
Same here, followed the manual, looks all ok, but I get still the `invalid authentication` error.

[2021-06-22 09:28] frankosborne commented on #10
Woops sorry forgot to update here. I got this working by creating a new smart life account and setting the region as America. I chose America so my account was In the same region as my cloud project. I don’t know if it was the new account or the fact I specified America. But it worked. P.s. I’m based in Australia.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: H

[2021-06-22 11:20] paullj1 commented on #16
That API screenshot seems off to me.  Are you sure you have the right switch?  This particular switch exposes 7 functions in the hardware (which I have sort of documented [here](https://github.com/paullj1/TreatLife-HomeKit/wiki#ds03)).  The fan speed sort of makes sense, and this particular implementation only supports 4 speeds instead of the available 26, but the light should definitely be there,

[2021-06-22 12:41] bob912 commented on #4
Very keen to see a HA integration giving local control written by Tuya devs!

[2021-06-22 14:47] philhzss commented on #19
@tsutsuku  Do you know if I can find more details somewhere else? In the logs, its always the same thing as in the screenshot I sent. Sometimes though, it says "uncaught thread exception" instead of "task exception was never retrieved", but other than that it's always the same lines in the log, seems to happen every 2-3 hours (I guess every time the sensor tries to update)

![image](https://user-i

[2021-06-23 02:44] tsutsuku commented on #19
@philhzss  from the terminal where you launch home assistant, you can find more logs.
Also, can you provide your sensor's device info from the logs?

[2021-06-24 00:18] philhzss commented on #19
Hi @tsutsuku , I found several entries in the terminal log and Im not sure which one could be useful to you, but here are some of them:

[code]

[code]

[code]

I also noticed that it seems the sensors are updating now, but really randomly and not often, for example one of my thermometers will update every 6-7 hours, another one takes 22 + hours to update, etc.

[2021-06-24 00:45] stuffmattdoes commented on #16
@paullj1 I was mistaken - I actually have [this switch by Esmlfe](https://www.amazon.com/dp/B08PD39NLF?psc=1&ref=ppx_yo2_dt_b_product_details). I mistakenly referenced the switch by TreatLife in this issue. I recalled at the time of purchase, the Treatlife being out of inventory so I went with this one. As far as I can tell, this appears to be the same switch under a different brand. Regardless, I

[2021-06-24 06:29] tsutsuku commented on #16
@stuffmattdoes
like this https://www.home-assistant.io/installation/linux#create-the-virtual-environment

[2021-06-24 08:32] fmacmahon commented on #4
With this integration, is it still necessary to create the sensors manually or do they appear automatically? What entities are achieved with this integration?
Still not working locally?!?

[2021-06-24 09:09] frankosborne commented on #9
I got a vacuum yesterday that was run off smart life. I got too keen to get this going so I have produced this. Likely have some code thats not needed but it got my vacuum working. Weirdly enough, HA doesnt seem to be doing anything when you call the start and pause services for Vacuums. I don't think their is anything wrong with my implementation as I cant even see the function get called. @tsuts

[2021-06-24 09:43] jesusnac commented on #10
same issue here, how can I debug my supervised installation to get the response messages?

[2021-06-24 09:49] frankosborne commented on #10
Update to my post above. The last thing I realised I did was change from a mobile number username to email address username.

Regarding logging. You should be able to use the logger component in ha. Change the logger for the tuya_v2 custom component and you may get more info depending on what the devs have logged. See [here](https://www.home-assistant.io/integrations/logger/) for more info

[2021-06-24 09:51] ishioni commented on #10
@frankosborne I'm doing this, and have absolutely no output

[code]

[2021-06-24 10:32] hprotzek commented on #10
Also tried this and I don't see any logs. In the tuya cloud console, there is also an authentication debug option, which also doesn't show anything when enabled :-(

[2021-06-24 11:14] paullj1 commented on #16
Wow, that looks like the exact same switch. The good news is all the manufacturers of these devices rely heavily on Tuya for their software stacks. I’d be willing to bet you could use the TreatLife app to control it exactly the same way.  That might help validate the dpIDs are the same, and that you’d have the same functionality as the TreatLife version.

[2021-06-24 11:36] tsutsuku commented on #4
@fmacmahon
This integration not working locally now.
After install, devices will appear automatically if you using the default dashboard.

[2021-06-24 12:33] sajid2310 opened #20 "Fan Detected but as switch"
I have 2 Tuya FAN one works in HA and the other does not...attaching details from tuya cloud

Fan 1: Works well with a 5 speed option
![image](https://user-images.githubusercontent.com/32875223/123263080-362f5300-d516-11eb-970a-4f81a0dea8f7.png)

Fan 2: Recognized but no option to control
![image](https://user-images.githubusercontent.com/32875223/123263236-5f4fe380-d516-11eb-9ce2-d5fbeb1ba169.png

[2021-06-24 13:27] fmacmahon commented on #4
Thanks for the answer but what I would like to know is:
The entities (power sensor, voltage, amps, etc) appear automatically or just the switch entity?

[2021-06-24 13:29] Fannangir opened #21 "Region selection"
Hi,

My region in Smart Life preferences says Israel.
I can't see this option in the list.
Tried Europe, but can't access, although it seems like I provide the correct details.
Am I missing something or the region should be different?

Thanks

[2021-06-24 16:58] balloob opened #22 "Contribute this integration to Home Assistant?"
👈 _Founder Home Assistant_

Asking users to install HACS and the Tuya custom component is a bad user experience and a lot of users will end up not doing it. This is limiting your reach. As you can see, it's not showing up in analytics yet either <https://analytics.home-assistant.io/custom_integrations.json>

If the Tuya integration would be included in Home Assistant, it would work for all Home As

[2021-06-24 17:56] robertbigk opened #23 "Model：BW-SPF1 WiFi Pet Fountain Led Version/UV Version"
Hi i try add this Fountain

By Smart Life detect switch on/off
but no uv/light

Is possible to add this to a home assistant?

Codes from IOT

{
  "result": [
    {
      "code": "switch",
      "value": true
    },
    {
      "code": "uv",
      "value": false
    }
  ],
  "success": true,
  "t": 1624557282603
}

{
  "result": {
    "active_time": 1624532307,
    "biz_type": 18,
    "category": "

[2021-06-24 17:59] robertbigk opened #24 "Model: Peetoner NutriVision"
https://www.petoneer.com/NutriVision

Is detect and add for IOT and smart live but bo way add option to Home Asssistant

{
  "result": {
    "active_time": 1624556244,
    "biz_type": 18,
    "category": "sp",
    "create_time": 1624556244,
    "icon": "smart/icon/ay1541381385946hoIoV/156360121030885b7eb80.png",
    "id": "bf18e3e146dd0a86f34prj",
    "ip":
    "lat": "52.0794936",
    "local_key"

[2021-06-25 01:42] tsutsuku commented on #4
@fmacmahon
The device types supported now appear automatically.
https://github.com/tuya/tuya-home-assistant#supported-tuya-device-types

[2021-06-25 01:50] tsutsuku commented on #23
@robertbigk
We will consider it in the next release.

[2021-06-25 01:58] tsutsuku commented on #24
@robertbigk
The Smart Camera which's category is sp is not supported now.
We will consider adding it in the future.

[2021-06-25 02:06] robertbigk commented on #24
Ok sorry for my ash but in the future is what time weeks months years? Ok but possible to add for now a basic switch on/off for food distribution and camera another time?

[2021-06-25 02:12] tsutsuku commented on #20
@sajid2310 Can you control the Fan 2's switch?

[2021-06-25 04:13] tangli159 opened #25 "身份认证无效"
已排查以下几点无误：
- 确认 涂鸦 IoT 平台 上的云项目是否创建于今年 5 月 25 号以后。
- 确认是否已经授权关联涂鸦智能/智能生活 App 账号到云项目中。
- 确认 Home Assistant 插件登录时输入的涂鸦智能/智能生活 App 用户账号和密码是否正确。App 账户取决于您在涂鸦 IoT 平台 上接入设备时用了哪个 App（涂鸦智能或智能生活）。
另：发现在集成里面输入死活输入不了n，只能键盘在其他地方打n然后复制粘贴。

[2021-06-25 05:04] Gferretta opened #26 "Error "Invalid authentication" and no login in integration."
Estimates.
How are you?
I have followed the steps described in the help to configure the new repository in HACS and load the TUYA v2 integration.
Restart HA
Then I went to Configuration -> Integration and looked for Tuya v2

Before this I registered the user in the TUYA android app with username / password
I also registered the user / password in TUYA IOT PLATFORM, creating a new Cloud project, au

[2021-06-25 05:13] Fannangir commented on #26
I have opened case 21 with exactly the same issue.
Have tried similar stuff, but didn't manage to get it to work :(

[2021-06-25 07:19] zlinoliver commented on #22
Hi @balloob ，nice to meet you and thanks for the feedbacks! sure, we definitely want to contribute it in Home Assistant. Using HACS and Tuya custom component is our temporary solution, will release it to Home Assistant official integration finally. We have created the following PRs, they are still reviewed by the Home Assistant team, we have reached to **Franck Nijhof**, he is helping on the revie

[2021-06-25 08:19] cstrand89 opened #27 "ASAKUKI Wi-Fi Smart Essential Oil Diffuser Echo Alexa Control, 500ml"
The integration does not work with this unit. It picks up the device but the controllers does not work.

[2021-06-25 08:58] SgtBatten commented on #26
I  believe that country code should be a number. like the start of an international phone number for you. 1 = USA 86 = china etc

Despite this, i am having the same issue.

[2021-06-25 09:35] SgtBatten commented on #10
no joy with  new accounts for me. cant get it working.

[2021-06-25 13:45] WaveLicker commented on #26
I also have the same issue.

[2021-06-25 20:17] panic2k opened #28 "Climates TypeError"
2021-06-25 20:11:08 ERROR (MainThread) [homeassistant.components.climate] Error while setting up tuya_v2 platform for climate
Traceback (most recent call last):
  File "/usr/lib/python3.9/site-packages/homeassistant/helpers/entity_platform.py", line 258, in _async_setup_platform
    await asyncio.gather(*pending)
  File "/usr/lib/python3.9/site-packages/homeassistant/helpers/entity_platform.py", l

[2021-06-26 13:20] Gferretta commented on #26
Followed this link and video:
https://developer.tuya.com/en/docs/iot/Home_Assistant_Integration?id=Kamcjcbvk2mu8

Put the country code 54 for Argentine.
6 API actived

But still gived me that error and NO connect.

😢

[2021-06-26 13:37] panic2k commented on #28
climate.py
        test = '{"range":["auto", "cold", "hot", "wet", "wind", "eco", "floor_heat", "floor_heat_and_heat"]}'
        modes = json.loads(test).get("range")

When I change line 261 to something like this above the entity is available. Maybe it's just an JSON decode error. I could not get _LOGGER.debug messages in log for better debugging. However, after this change the state of the devic

[2021-06-27 13:40] ishioni commented on #10
Ok, now I've got past the authentication issue. What I did:
- Made new accounts both for user and dev platform, but this time, they were DIFFERENT emails
- In my old one, there was a "+" sign in the email, maybe that broke something?
- I used the europe region (I am in Europe, but a guide on youtube insisted on making the dev account in usa for some reason)

[2021-06-27 14:46] ishioni commented on #15
Waiting for a fix for this as well

[2021-06-28 09:15] jesusnac commented on #10
Hi,

Integration worked today out of the blue.

[2021-06-28 09:39] #5 closed

[2021-06-28 09:41] tsutsuku commented on #9
@frankosborne Thank you for your code.
The vacuum cleaner will be supported in v1.3 which will be released this week.

[2021-06-28 14:17] bmorgan99 commented on #14
I have a "PIR Light" that wasn't discovered.  Same issue?

[2021-06-28 15:57] Fannangir commented on #26
Did someone manage to connect?
What are we missing?

[2021-06-28 16:14] bmorgan99 commented on #26
I struggled with this and even opened a ticket on it, but mostly got RTFM.  Changed the Smart Tuya app password, plugged that into the integration setup and voila.

[2021-06-28 18:40] Fannangir commented on #26
Unfortunately I have already tried to change the password, no luck :(

[2021-06-28 18:59] wiflye81 commented on #26
For me it works, just had to recreate a new project and link my tuya account on it. Old project (created before May 25th are not valid). No change on anything else.

[2021-06-28 19:04] wiflye81 commented on #26
Not the account, just a new project inside the account.

[2021-06-28 19:42] Gferretta commented on #26
Just changed my app Tuya password and NO WORK!  :-1:

What do you mean by recreate?
The actual project can not it deleted.
My account is TRIAL and if i want to create new project, no option of "Development Method: Smart Home PaaS"

How do I delete the current project?

![Tuya v2 Error 3](https://user-images.githubusercontent.com/65413059/123694213-6ab15080-d82f-11eb-986c-b5f79b939717.jpg)

[2021-06-29 02:01] tsutsuku commented on #14
@bmorgan99

Yes, this category not supported now.

[2021-06-29 02:17] Gferretta commented on #26
Tuya original integration work fine inmediately with same user/password.
But only recognized few devices.
Door Sensors not work.

![SmartSelect_20210628-231056_Home Assistant.jpg](https://user-images.githubusercontent.com/65413059/123726753-de228480-d866-11eb-857b-cf380840acda.jpg)

![SmartSelect_20210628-230727_Home Assistant.jpg](https://user-images.githubusercontent.com/65413059/123726769-e5499

[2021-06-29 03:20] SgtBatten commented on #26
@wiflye81 maybe it would help if you shared more detail such as what country you set everything up as, what region for deployment you selected.

Did your password contain any special characters or perhaps just letters and numbers.

[2021-06-29 03:30] Fannangir commented on #26
In my case, country is Israel.
I can see all the devices under Europe region on the tuya cloud development platform, so I select Europe.
Country code is 972 (Israel).
As for the password, I do have special characters (such as ! and $).
Might there be an issue with special characters?

[2021-06-29 06:11] SgtBatten commented on #21
On the project overview page, edit the availability region of the Tuya cloud project to be all regions:
![image](https://user-images.githubusercontent.com/24822223/123746059-76b31600-d8f4-11eb-9f50-81cd0a5c281d.png)

Now cycle through the regions at the bottom of the page until you find the one where your devices actually appear. See 3 in my screenshot. this only appears in europe for me, so I kno

[2021-06-29 06:14] SgtBatten commented on #10
Got mine working today. I completely missed some information on this page about what region you need to select: https://developer.tuya.com/en/docs/iot/Platform_Configuration_smarthome?id=Kamcgamwoevrx

I was not aware the region was pre determined based on your country account.

As evidence of this on the project overview screen i found that my 3 devices are only listed if i selected europe. And v

[2021-06-29 06:15] SgtBatten commented on #26
I got mine working by reading the instructions better. Region is predetermined by your country.

https://github.com/tuya/tuya-home-assistant/issues/10#issuecomment-870269223

[2021-06-29 10:03] wiflye81 commented on #26
Sorry for the lack of details.
Firstly I follow this video: https://www.youtube.com/watch?v=Amc_fmYMQEo that help me a lot.
My password is alpha numeric with special character, no issue here, and I am from France (Code 33) and choose "Europe" region
My main blocking was to create a new project and recreate a new one.
I also renew my free trial subscription.

[2021-06-29 16:05] Gferretta commented on #26
Well.
After countless tests and counter tests, I was able to get it to successfully login to the Tuya v2 integration.
The first thing I did was unlink the Tuya app account from the Cloud project.
Then he let me create a new project by following exactly the steps in the video and setting the 3 zones.
After that, I linked the Tuya app account to the project.
And there I tried to install the integrat

[2021-06-29 16:11] jkottier commented on #24
Indeed, basic (doorbell) camera support with at least movement and doorbell pressed notifications would be highly appreciated. I think a lot of Home Assistant / Tuya users are waiting for this to become available.

[2021-06-29 16:12] #26 closed

[2021-06-29 17:44] robertbigk commented on #24
I don't have a lot knowledge i try to learn much I can if I can help just write me if need. If need to testing device just write me:)

[2021-06-30 01:13] Diondelpino commented on #10
I’m also getting this issue. I’ve tried all the solutions listed above. New account. Seperate email addresses for Tuya smart and iot accounts, no special characters in password. Correct region selected (I’m in Australia) Europe and country code 61 are the correct selections based on the information listed above. But still no dice.

[2021-06-30 02:24] SgtBatten commented on #28
@panic2k I am having issues with my Kogan Branded Heater.

It works in the Tuya v1 integration in that I can control te temperature and turn it on or off.
I installed the tuya v2 integration hoping to gain the fan speed functionality which was missing from v1. My heater is a panel heater with 2 fan modes, high or low.

After installing tuya v2 my other devices which work on v1 also seems to work i

[2021-06-30 07:19] OmgImAlexis commented on #4
@zlinoliver any chance on an ETA on local access now that this just dropped? https://twitter.com/home_assistant/status/1409944323546763265

[2021-06-30 10:13] phongaster commented on #27
+1

[2021-06-30 12:18] tsutsuku commented on #7
@Kirmas category wk is supported in v1.3.

[2021-06-30 12:18] tsutsuku commented on #17
@petebdeblois  current/voltage/kw supported in v1.3

[2021-06-30 12:19] tsutsuku commented on #9
@frankosborne vacuum cleaner is supported in v1.3, which released today.

[2021-06-30 12:20] tsutsuku commented on #15
@Zaiban @ishioni  this issue is fixed in v1.3, which release today.

[2021-06-30 12:25] tsutsuku commented on #25
@tangli159 试下v1.3版本插件，如果还是错误，通过打开home assistant log，提供下错误信息。

[2021-06-30 12:26] ishioni commented on #15
It seems you've deleted the version field in manifest.json. This will not work in the current version of ha!

[2021-06-30 12:33] ishioni commented on #15
After fixing the missing version, multiple errors, including the original climate one

[code]

[code]

[code]

[2021-06-30 12:46] tsutsuku commented on #15
@ishioni LOGGER problem fixed.
About KeyError: '3', can you provide the device's specifications from log?

[2021-06-30 12:50] ishioni commented on #15
Sure

[code]

[2021-06-30 12:53] tsutsuku commented on #28
@SgtBatten Logs supported in v1.3.
Can you provide your device's specifications from the log?

[2021-06-30 12:56] tsutsuku commented on #21
@Fannangir This may help you
https://developer.tuya.com/en/docs/iot/Home_Assistant_Integration?id=Kamcjcbvk2mu8#title-5-FAQ

[2021-06-30 13:02] tsutsuku commented on #15
@ishioni It seems something wrong with this product's specification.
We will fix it soon.

[2021-06-30 13:05] MarkWattTech opened #29 "Robot Vacuum Not Working"
The new integration for 1.3 adds support for Tuya Robot Vacs. Mine has added successfully but errors if any commands (Clean, stop, return home) are issued.

Battery level is being reported but the robot is stuck is constantly reporting its status as "Cleaning".

**See Log :**

`[547960602336] 'TuyaDeviceManager' object has no attribute 'sendCommands'
[547960602336] Error handling message: Unknown

[2021-06-30 13:07] petebdeblois commented on #17
Thank you @tsutsuku
I can see the current, power and voltage as a separate sensor.

[2021-06-30 13:07] #17 closed

[2021-06-30 13:15] tsutsuku commented on #15
@ishioni Can you try again?

[2021-06-30 13:19] ishioni commented on #15
@tsutsuku Updated to master - version is there now, and no more logging errors, but api still returns numerical mode values. Should i power cycle the device?

[2021-06-30 13:28] maweki commented on #9
The Readme is missing the information about these device types

[2021-06-30 13:30] tsutsuku commented on #29
@MarkWattTech This problem fixed, can you try branch master again?

[2021-06-30 13:33] tsutsuku commented on #15
@ishioni Is there room temperature in app?

[2021-06-30 13:34] ishioni commented on #15
@tsutsuku No. I've commented out lines 219-225
[code]
And it started to work, but now the temperature is still off. I can control the mode though!
<img width="390" alt="Screenshot 2021-06-30 at 15 34 35" src="https://user-images.githubusercontent.com/50323052/123969622-af1c2800-d9b8-11eb-907f-48815e659827.png">

[2021-06-30 13:43] MarkWattTech commented on #29
@tsutsuku thanks for the quick update. Unfortunately the robot is now showing as unavailable.

I also think the versioning number is incorrect as the update now shows as V1.2 instead of V1.3 (and in HA HACS update it shows an update 1.3 to 1.2)

Cheers.

[2021-06-30 13:47] MarkWattTech opened #30 "Adding Tuya Scenes"
Will Tuya scenes be added to the new integration?
Currently you can access created Tuya scenes using the existing integration.

[2021-06-30 14:09] ishioni commented on #15
@tsutsuku Server side change again?

[2021-06-30 14:12] tsutsuku commented on #29
@MarkWattTech Try again?

[2021-06-30 14:14] tsutsuku commented on #27
@cstrand89 The v1.3 is released.
Can you provide the device's specifications from the log?

[2021-06-30 14:22] cstrand89 commented on #27
How do I get this?

[2021-06-30 14:24] tsutsuku commented on #27
https://github.com/tuya/tuya-home-assistant/releases

[2021-06-30 14:26] tsutsuku commented on #15
@ishioni  Server side change again.

[2021-06-30 14:27] ishioni commented on #15
@tsutsuku Also, while we're at it. My AC unit has a swing feature, but it's not represented in the api at all. Anything we could do about that?
![Screenshot_20210630-162700](https://user-images.githubusercontent.com/50323052/123978304-0b367a80-d9c0-11eb-9743-be47bcf0ccac.png)

[2021-06-30 14:30] MartinKuhl opened #31 "Support of X-sense XS01-WT Smoke detector"
Hi Guys,

do the Tuya v2 integration support the XS01-WT smoke detector?

[2021-06-30 14:32] tsutsuku commented on #31
Can you provide the device's category from the log?

[2021-06-30 14:34] yakovte opened #32 "i got Invalid authentication"
I do all the Install and when I go to my HA and add the Integration
![ss](https://user-images.githubusercontent.com/79398545/123979438-6456dc00-d9c9-11eb-84f1-5d25ec4e0061.png)
 i got Invalid authentication

[2021-06-30 14:40] cstrand89 commented on #27
@tsutsuku `'SKILL_eyJza2lsbElkIjoiYW16bjEuYXNrLnNraWxsLjRhNzhhOWY0LTFiZGQtNDRjOS05M2NlLTk2MWExNzExZjRjNyIsInN0YWdlIjoibGl2ZSJ9_light#ty51082010e8db84cac16c', 'endpointTypeId': '', 'driverIdentity': {'namespace': 'SKILL', 'identifier': 'eyJza2lsbElkIjoiYW16bjEuYXNrLnNraWxsLjRhNzhhOWY0LTFiZGQtNDRjOS05M2NlLTk2MWExNzExZjRjNyIsInN0YWdlIjoibGl2ZSJ9'}, 'manufacturerName': 'Home Assistant', 'friendlyDescr

[2021-06-30 14:52] MarkWattTech commented on #29
@tsutsuku commands and version now correct and working 👍 .

The status of the Vacuum is still not updating thought (e.g. Docked, Cleaning). It stays in cleaning.

[2021-06-30 14:58] MartinKuhl commented on #31
I can get the product type oder product Id if this is helpful

[2021-06-30 15:57] Kodash889 commented on #29
Would changing: `DPCODE_STATUS = "status"` to `DPCODE_STATUS = "mode"` resolve this?

[2021-06-30 20:52] MarkWattTech commented on #29
@Kodash889 I tried this but it's still stuck on "Cleaning"

[2021-06-30 21:17] Kodash889 commented on #29
@MarkWattTech That's a shame! I came to the above conclusion by looking in API Explorer -> Get Device Status and changing the state till I found something I wanted :/

[2021-06-30 21:52] milandzuris commented on #32
me to

[2021-06-30 23:39] smckellar commented on #21
In my Tuya app it says 'Australia' but like @Fannangir I do not see this as an option in the Availability Zone in the HA Tuya v2 integration.

[2021-06-30 23:44] novisys commented on #32
ME TO

[2021-07-01 00:01] smckellar opened #33 "" Find the Access ID and Access Secret on the Project Overview tab.""
Following the steps after creating a Tuya IoT account - it suggests you need to 'Find the access ID and Access Secret' on the project overview tab.

For someone not familiar with teh Tuya IoT Platform, it is not clear whether you need to create a Project and how one would go about this to then 'find' the access ID and secret

[2021-07-01 00:25] SgtBatten commented on #28
@tsutsuku I will gladly assist with this investigation.

In the log I have found a few items which may be what you are referring to. If you are after a specific parameter Pleas let me know.

[code]

[2021-07-01 01:11] smckellar commented on #33
After creating a Tuya IoT account and fumbling my way around the Tuya IoT portal I was able to generate access ID and access security - and see the 'Project Overview' tab which is nested under Cloud on the left, and then Projects. You need to create a new Project which requires you to 'signup for the $0 trial'. Once you have created a Project you will then see the Project Overview tab. You also ne

[2021-07-01 02:02] tsutsuku commented on #15
@ishioni  You can replace "fan_speed_enum" with "windspeed" according to AC's Standard Instruction Set
https://developer.tuya.com/en/docs/iot/f?id=K9gf46qujdmwb

[2021-07-01 02:04] sthorley commented on #32
Same here. Europe availability Zone, region Australia.

[2021-07-01 02:11] sthorley commented on #21
I'm just going to copy paste this from the link posted above https://github.com/tuya/tuya-home-assistant/issues/21#issuecomment-871380135

Registered Region of Tuya Smart/Smart Life - Availability Zone of Cloud Project

Argentina	     - America
Australia   	 - Europe
Brazil      	 - America
Canada	         - America
China	         - China
Columbia    	 - America
Egypt	         - Europe
France

[2021-07-01 02:27] Nick-Adams-AU commented on #32
Could this have something to do with the signature changes required after 30 June? It seems to have broken pretty much all third-party API integrations.

https://developer.tuya.com/en/docs/iot/singnature?id=Ka43a5mtx1gsc

[2021-07-01 02:56] tsutsuku commented on #32
@Nick-Adams-AU
Tuya Integration v1.3 has updated the signing algorithm.
For move information, you can read the https://github.com/tuya/tuya-home-assistant/wiki/Tuya-Home-Assistant-Integration-Release-Notes

[2021-07-01 02:58] tsutsuku commented on #19
@philhzss Try the v1.3.

[2021-07-01 02:59] tsutsuku commented on #23
@robertbigk The pet water feeder is supported in v1.3.

[2021-07-01 02:59] #23 closed

[2021-07-01 03:00] #7 closed

[2021-07-01 03:09] Nick-Adams-AU commented on #32
Thanks @tsutsuku! That now works for me with this update.

[2021-07-01 03:36] sthorley commented on #32
@tsutsuku I'm running v1.3 and I still get the invalid Authentication error.

[2021-07-01 03:45] tsutsuku commented on #31
@MartinKuhl  Enable the log by following https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log.
Then provide the your device's specifications from the log.

[2021-07-01 03:46] tsutsuku commented on #29
@MarkWattTech Can you provide your device's specification from the log?

[2021-07-01 03:50] tsutsuku commented on #30
@MarkWattTech We will consider it.

[2021-07-01 03:51] tsutsuku commented on #27
@cstrand89 The log provider is not correct.
Please follow the wiki https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log to get the log.

[2021-07-01 05:34] cstrand89 commented on #27
`2021-07-01 06:27:09 DEBUG (SyncWorker_3) [tuya iot] Response: {
"result": {
"access_token": "XXXX",
"expire_time": 7200,
"refresh_token": "501a6452060bc7ccc7f79e9b07ecf8a8",
"uid": "eu1623349184824MOXnn"
},
"success": true,
"t": 1625117229135
}
2021-07-01 06:27:12 DEBUG (MainThread) [tuya iot] start
2021-07-01 06:27:12 DEBUG (Thread-3) [tuya iot] Request: method = POST, url = https://openapi.tuya

[2021-07-01 06:24] tsutsuku commented on #27
@cstrand89 Get it. We will fix it soon.

[2021-07-01 06:28] tsutsuku commented on #32
@sanshengshui According to the error code 2406, it seems your project is created before May 25.

[2021-07-01 06:29] tsutsuku commented on #32
You need to create a new project on the tuya IoT platform.

[2021-07-01 06:32] sthorley commented on #32
This is 100% not possible. I signed up for Tuya IOT only earlier today after seeing he announcement on HomeAssistant Reddit.

I will attempt this and let you know how it goes.

[2021-07-01 06:39] sthorley commented on #32
I have created a new project. Same 2406 error.

`2021-07-01 16:35:40 INFO (MainThread) [custom_components.tuya_v2.config_flow] TuyaConfigFlow.async_step_user start, is_import= None
2021-07-01 16:36:06 INFO (MainThread) [custom_components.tuya_v2.config_flow] TuyaConfigFlow.async_step_user start, is_import= {'password': 'PASSWORD', 'endpoint': 'https://openapi.tuyaeu.com', 'access_id': 'p4qXXXXXXXX

[2021-07-01 06:53] MartinKuhl commented on #31
@tsutsuku thanks here are the details:
`{
"active_time": 1625057001,
"biz_type": 0,
"category": "ywbj",
"create_time": 1625057001,
"icon": "smart/icon/ay1527165026396tsnYq/8b65a30b0cb0adc53dcd99682de33846.png",
"id": "22772005a4e57c968232",
"ip": "46.142.3.232",
"lat": "",
"local_key": "eef603fa958dbc4c",
"lon": "",
"name": "X-Sense Wi-Fi Smoke Alarm",
"online": true,
"owner_id": "33311595",
"prod

[2021-07-01 08:28] robertbigk opened #34 "Sensor Temperature Lux and Humidity TS0222"
![iexplore_IcmLyc2qbX](https://user-images.githubusercontent.com/34956477/124091935-a0844e00-da56-11eb-90c8-69f83b9d7cec.png)

Hi, any chance to add this device?

Is not add to HA by Tuya Zignee gate

When I try add by zigbee2mqtt i got unknow device

![msedge_YWHV2tEsbl](https://user-images.githubusercontent.com/34956477/124092159-d4f80a00-da56-11eb-814b-db98e0bcac85.png)
![msedge_AjO0OSEyI4](htt

[2021-07-01 08:30] tsutsuku commented on #34
@robertbigk https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log

[2021-07-01 09:14] #3 closed

[2021-07-01 10:58] NoLooseEnds opened #35 "Availability Zone issue causing Invalid Authentication?"
Hi, I'm trying to log in, but my availability zone in the Tuya Smart app is `Norway`.

I have tried using `Europe`, `WesternEurope` and even `China`, but I always get "Invalid authentication".

<img width="402" alt="Screenshot 2021-07-01 at 12 54 34" src="https://user-images.githubusercontent.com/4103531/124113630-f0214480-da6b-11eb-8193-d6a4703d7656.png">
<img width="1008" alt="Screenshot 2021-07

[2021-07-01 13:04] redlegoman commented on #32
I wouldn't have thought so, I'm having the same issue and I have different IOT and App emails

[2021-07-01 13:19] yakovte commented on #32
After I update to V1.3 is work good tnx

[2021-07-01 13:19] #32 closed

[2021-07-01 13:24] redlegoman commented on #32
This I think, was a report about the Beta V2 of the product, widely trumpeted by the Home Assistant team. I can't upgrade the Beta to V1.3 as I downloaded the custom_component this very day and installed it into Home Assistant.

[2021-07-01 13:28] yakovte commented on #32
uninstall and install again
and do a restart for HA

[2021-07-01 13:36] Diondelpino commented on #29
I’m also having the same issue vacuum constantly reports state as cleaning.

[2021-07-01 14:28] RHeynsZa opened #36 "Add support for Proscenic 808C Humidifier"
I'm not sure if [this humidifier](https://www.proscenic.com/808c-humidifier-p0134.html) is special, or the humidifier support might be broken.

I have the humidifier on Smart Life, and I can see it in the cloud as follows:

![image](https://user-images.githubusercontent.com/58415372/124140718-038ed880-da89-11eb-9448-90a2f1413dfe.png)

But after adding the integration, I just see 2 entities

![imag

[2021-07-01 14:31] redlegoman commented on #32
did a git pull and restart, no change
did a remove and git clone, no change

[2021-07-01 16:32] strasharo commented on #14
My contact sensor shows up as "mcs" instead of the mentioned "mc" in the API explorer.
"category": "mcs"
Is that one unsupported as well currently?

[2021-07-01 16:41] strasharo opened #37 "Contact Sensor listed as "mcs" category doesn't show up in HA."
Hello. I'm running v 1.3 of the integration with an up to date HASS and my "mcs" category door sensor doesn't show up in HASS.
As far as I understand from the table here https://github.com/tuya/tuya-home-assistant/wiki/Supported-Device-Category mcs is a supported category, is that right or I'm doing something wrong? It's linked in the project and works fine in the Smart Life app.

[2021-07-01 17:41] steve-tapgen opened #38 "Add WAFU Smart Electronic Lock (Deadbolt)"
Any chance you guys can add integration for the Wafu deadbolt?

{
  "result": {
    "active_time": 1625072247,
    "biz_type": 18,
    "category": "ms",
    "create_time": 1624989601,
    "icon": "smart/icon/bay1605170594678IbeH/fad5891225b6191bb2563d6deac53c87.jpg",
    "id": "66074035e868e76ce739",
    "ip": "1.1.1.1",
    "lat": "xxx",
    "local_key": "xxx",
    "lon": "xxx",
    "name": "Dead

[2021-07-01 17:43] Gferretta commented on #37
Same here

I add a Door Window sensor to TUYA app and work ok
In Tuya API linked accounts and works too.

But in HA the sensor "mcs" not appear.

Only one virtual device (RGB Bulb) that I add in TUYA cloud project for testing only.   If I remove it, integration in HA appear empty.

This is result of API Explorer on tuya platform for "Door Window Sensor device":

{
  "result": {
    "active_time":

[2021-07-01 17:58] NoLooseEnds commented on #35
Never mind. Me being stupid and not seeing that I needed to link the accounts. I thought using the same mail was enough.

[2021-07-01 17:58] #35 closed

[2021-07-01 18:04] ishioni commented on #15
Yeah, that adds speed settings, but I'm talking about swing modes - DPCODE_SWITCH_VERTICAL. The device supports it, but the api doesn't report it at all

[2021-07-01 18:10] Fannangir commented on #21
I have followed all the guides.
Created a new project, included the required API.
I can see that my devices are all available in the Europe region.
Anyhow, added all regions to the project.
I have tried to reset the password as well.
Still, unfortunately, can't login into the integration (authentication invalid).
Israel is not available in the list, but devices are available under Europe region.
W

[2021-07-01 18:22] NoLooseEnds commented on #37
Same for me. I have the contact sensors in the Tuya app, but they do not show in Home Assistant.

[2021-07-01 18:51] strasharo commented on #37
Here's mine:

[code]

[2021-07-01 19:00] kbarendrecht opened #39 "switch device not functioning"
The only device currently attached to my Tuya developer account doesnt work good.
When using the entity toggle on the lovelace dashboard it only works the verry first time, after that it only switches the toggle and returns back to its previous state, without actually switching the light.

![toggle](https://user-images.githubusercontent.com/18546657/124138167-abef6d80-da86-11eb-8e85-a58035cad140.g

[2021-07-01 20:22] Gferretta commented on #37
Hi
My sensor not return battery state.
Why?
What can do?

[2021-07-02 01:37] sthorley opened #40 "Invalid Authentication - Error 2406"
Hi, Following the announcement on the HomeAssistant Reddit I signed up for Tuya IOT and installed Tuya V2 version 1.3 using HACS on July 1st 2021. Once I signed up for Tuya IOT I signed up for the Free api, created my first project, linked my "TuyaSmart" app account, and granted the API permissions. I can see my Tuya devices have successfully linked in the Tuya IOT project page.  I have never had

[2021-07-02 02:01] tsutsuku commented on #39
@kbarendrecht It seems something wrong with the TuyaOpenMQ connect, Can you provide more logs?

[2021-07-02 02:04] tsutsuku commented on #36
@RHeynsZa Can you provide the device's specifications?
https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log

[2021-07-02 02:06] tsutsuku commented on #14
@strasharo mcs is supported.

[2021-07-02 02:10] SgtBatten commented on #21
So your tuya smart mobile app is set to israel? and you are entering 972 in the country code? and using the login details for your mobile app?

[2021-07-02 02:15] tsutsuku commented on #15
@ishioni Your device's swing feature is not in the standard instruction set. So it can not be supported.

[2021-07-02 02:16] tsutsuku commented on #15
AC‘s standard instruction set : https://developer.tuya.com/en/docs/iot/s?id=K9gf48r2iqa7m

[2021-07-02 03:25] tangli159 commented on #25
![image](https://user-images.githubusercontent.com/50565072/124214057-33d78500-db24-11eb-89c9-4898ad1fb7f7.png)
![image](https://user-images.githubusercontent.com/50565072/124215823-62a32a80-db27-11eb-90b1-c5ea175f7ecd.png)
已经在hacs更新1.3插件，更新完毕后点集成添加Tuya v2，提示无法加载配置向导。
日志报错信息为：
2021-07-02 11:12:25 ERROR (MainThread) [homeassistant.config_entries] Error occurred loading configuration flow for integr

[2021-07-02 03:42] Fannangir commented on #21
Correct.
I have set the user/pass for the app to be identical to the cloud IOT, same error.

[2021-07-02 04:02] tsutsuku commented on #25
@tangli159 从你提供的信息看，你安装的插件丢失了config_flow.py，要不你把Tuya v2卸了重装试试？

[2021-07-02 04:06] robertbigk commented on #23
Hi can You explane me what is 1.3? how and what I need update?

[2021-07-02 04:15] robertbigk commented on #34
[home-assistant.log](https://github.com/tuya/tuya-home-assistant/files/6752029/home-assistant.log)

Can You explain previous ticket update is visible in 1.3 I know is a version but version of what I need to update smart live or something in-home assistant?

[2021-07-02 05:41] robertbigk commented on #23
Work thx allot!!!

[2021-07-02 05:59] robertbigk commented on #40
Wrong contry code use like PL , EN , GB check  Tuya code list

[2021-07-02 06:04] robertbigk opened #41 "Inkbird ITC 308 Wifi Integration."
Hi, can You help integrate or more add devices for Tuya V2?

In basic interaction of Tuya (no v2)
I need divided temperature in configuration and all work like a charm.
device add like climate to control temperature. but no add temperature sensor I add that by template.

In Tuya V2 Inkbird ITC 308  add temperature sensor but missing all climate entities.

Tuya Basic

![msedge_H9YAQXR3xm](https://u

[2021-07-02 07:05] sthorley commented on #40
No. You are incorrect. All the configuration examples, screenshots, developer comments, and every piece of documentation I have read shows this as the IDD Telephone code of the country. Eg: 86 for China, 1 for USA, 61 for Australia.

For completeness I have tested “AU” and the 2406 issue remains.

Please do not comment on open issues unless you can substantiate your claims with evidence or at leas

[2021-07-02 07:15] tangli159 commented on #25
已经安装好了。但是还是提示**身份认证无效**。
仍然确保以下三项没有出错。
**创建loT平台账号和项目时间为6.23**
![image](https://user-images.githubusercontent.com/50565072/124234965-49aa7180-db47-11eb-98a6-76e53b7bf7eb.png)
**确认已经授权账号**
![image](https://user-images.githubusercontent.com/50565072/124235202-89715900-db47-11eb-9d41-221976088120.png)
**确认输入的账号密码正确**
![image](https://user-images.githubusercontent.com/50565072/124235597-03a1dd80-db48-

[2021-07-02 08:20] robertbigk commented on #40
ok just try to help. Today I add an account I create 3 accounts and cant connect I try all time code digits and got errors, in-home assistant. I use code letter in my case PL and account connected to the home assistant.

[2021-07-02 08:21] RHeynsZa commented on #36
I only see this error in the logs:
[code]

What do you need in terms of specification? I did send the link to the product in the initial comment

[2021-07-02 08:36] tsutsuku commented on #38
@steve-tapgen You can read this doc https://github.com/tuya/tuya-home-assistant/wiki/How-to-develop-a-new-driver.

[2021-07-02 08:38] tsutsuku commented on #38
Here is the lock's instruction set https://developer.tuya.com/en/docs/iot/f?id=K9i5ql58frxa2

You are welcome to create a PR about the lock.

[2021-07-02 08:40] tsutsuku commented on #36
@RHeynsZa  Get it, I think we can fix it soon.

[2021-07-02 08:47] tsutsuku commented on #25
@tangli159 参考下wiki内的打开日志方法，打开下日志，然后麻烦提供下错误码

[2021-07-02 08:57] tangli159 commented on #25
不好意思，之前没看到。
日志已经去除敏感信息。
`2021-07-02 16:53:37 INFO (MainThread) [custom_components.tuya_v2.config_flow] TuyaConfigFlow.async_step_user start, is_import= None
2021-07-02 16:54:26 INFO (MainThread) [custom_components.tuya_v2.config_flow] TuyaConfigFlow.async_step_user start, is_import= {'password': '*******', 'endpoint': 'https://openapi.tuyacn.com', 'access_id': '*****', 'access_secret': '*******',

[2021-07-02 09:10] tsutsuku commented on #34
@robertbigk Have you installed the tuya_v2 integration?

[2021-07-02 09:45] tsutsuku commented on #33
@smckellar Can you provide the error code from the log.

[2021-07-02 13:32] robertbigk commented on #34
Resend log witch tuya v2?. Yes but after  send the log
[home-assistant.log](https://github.com/tuya/tuya-home-assistant/files/6754865/home-assistant.log)
I got not Tuya (original ) on V2 if something missing in V2 send You data? One I write about Inkbird ITC-308 but that same situation about wall thermostat V2 detects temperature sensor but V1 detect climate entity.

[2021-07-02 14:13] strasharo commented on #14
Okay, in that case something is wrong. What information can I provide you, so we can troubleshoot it further?

[2021-07-02 14:21] strasharo commented on #37
@tsutsuku Can I assist somehow with the troubleshooting, is there any other info that I can provide? I've checked the logs but didn't notice any related exception, everything appears to be working fine, the device just doesn't show up.

[2021-07-02 14:41] osk2 commented on #40
Try to unlink project in IoT platform and link again, also reset password in app. That works for me.

[2021-07-02 16:36] motisht opened #42 "Can't turn on lights"
Hi,
I'm having problem with the Tuya integration - I cannot turn on any of the Tuya lights I have.
The lights are RGB but I cannot see the RGB option and cannot turn on the lights when they are off.
Strangely, when I turn on the lights using the Smart-Life app, I can see the RGB control and I can control the lights color and brightness. Once I use the HA to turn the lights off, I cannot turn the l

[2021-07-02 19:44] mrwhite31 commented on #37
I am having the same problem. Category mcs only displaying the battery state. Looking into the logger integration it is calling the "Get device specification attributes" API /v1.0/devices/{device_id}/specifications. In the JSON response the boolean value of doorcontact_state and temper_alarm are returned with "values": "{}" independent of the effective door state. Maybe the root cause of this issu

[2021-07-02 23:06] Gammaxana commented on #42
Can confirm and jump on this, My lights when on the new tuya v2 have the color wheel show up however on selecting red, its very white with just a hint of red, almost like the saturation controls are not active. very strange, as with the smart life app and the other main tuya integration it works as expected.

[2021-07-03 02:34] philhzss commented on #19
@tsutsuku  Ok just installed it, will let you know in a few days if they get stuck again! Thanks

[2021-07-03 03:09] tsutsuku commented on #34
@robertbigk Is your device name is "Czujnik Temp&Hum&Lux Salon"?

[2021-07-03 03:11] tsutsuku commented on #42
@motisht Can you provide the device's specification from the log
https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log

[2021-07-03 03:32] tsutsuku commented on #41
@robertbigk Can you provide the device specifications from the log?
https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log

[2021-07-03 05:19] WildeRNS opened #45 "Add device: circuit breaker"
Please add support for device, purchased here:
https://a.aliexpress.com/_AmEcRR

**Device info:
{
      "active_time": 1621338539,
      "biz_type": 18,
      "category": "dlq",
      "create_time": 1621338539,
      "icon": "smart/icon/bay1591839287906taVN/267162108e2f97cf9ddf39067b4eae7a.png",
      "id": "bf5b2e5690617d4c81lxse",
      "ip": "censored",
      "lat": "censored",
      "local_key

[2021-07-03 05:55] dougiteixeira commented on #42
Hi,

I also have problems with lights. The on and off commands work, but the state is not updated in the home assistant. The switch returns to the previous state (the switch returns to off when turning on and the light remains on and in the case that it was turned off, the switch returns to the on position and the light remains off).

Here is a screenshot of the behavior and also the logs divided

[2021-07-03 06:04] tsutsuku commented on #42
@dougiteixeira According to log, you have not subscribed Device status notification API.
https://developer.tuya.com/en/docs/iot/Platform_Configuration_smarthome?id=Kamcgamwoevrx

[2021-07-03 06:18] dougiteixeira commented on #42
@tsutsuku
Ok, it's working 100%!

Thank you.

[2021-07-03 06:59] motisht commented on #42
Hi @tsutsuku
I've attached the logs after trying to turn on the lights a few times.
[home-assistant.log](https://github.com/tuya/tuya-home-assistant/files/6757962/home-assistant.log)
Thanks,
Moti

[2021-07-03 07:38] tsutsuku commented on #42
@motisht Can you provide the light bfd80c2014ca6ad814nzai 's specification like 68051158bcddc2415581,  in the log which you control.

[2021-07-03 07:38] robertbigk commented on #34
Yes correct is that and no hope for this zigbee?

[2021-07-03 07:42] robertbigk commented on #41
[home-assistant.log](https://github.com/tuya/tuya-home-assistant/files/6758029/home-assistant.log)

In Tuya v1 is
climate.grzalka_termostat_akwarium

in Tuya V2 is

sensor.grzalka_termostat_akwarium

[2021-07-03 08:00] motisht commented on #42
@tsutsuku  Where can the 68051158bcddc2415581's control log?
This issue is relevant for two different Tuya products from different vendors. Both cannot  be turned on.
The device in the log files is this one:
https://www.aliexpress.com/item/4001156825209.html?spm=a2g0s.9042311.0.0.27424c4dA4jyI2
Let me know if you need more information.

[2021-07-03 08:13] tsutsuku commented on #42
@motisht  Or you can provide a full log after restart home assistant.

[2021-07-03 08:23] motisht commented on #42
Hi @tsutsuku
I'm attaching the new low after:
1. Restart
2. Trying to turn on Kitchen & Parents lights (no success)
3. Using Smart Life to turn on both lights
4. Using (successfully) HA to turn off both lights
Thanks,
Moti

[home-assistant.log](https://github.com/tuya/tuya-home-assistant/files/6758077/home-assistant.log)

[2021-07-03 08:36] mrwhite31 commented on #37
Quick fix for me was to change the value on line 47 of binary_sensor.py from "switch" to "doorcontact_state".
My doorsensors are now appearing in Homeassistant

[2021-07-03 09:11] tsutsuku commented on #34
I think we can support it soon.

[2021-07-03 11:10] NoLooseEnds commented on #37
@mrwhite31 I tried doing that, but no go here.

Restarted HA, but the Tuya integration does not show my two door sensors (they show up in Tuya Cloud, and I get a similar API response as the ones above).

Did you do anything else?

[2021-07-03 11:42] mrwhite31 commented on #37
I've reloaded the Tuya integration and restarted HA after updating the file. Works for me. Does the response of the specification APo return "doorcontact_sensor for your device? And is it category "mcs"?

[2021-07-03 11:45] NoLooseEnds commented on #37
Actually, it seems like the category is ´mc´

[code]

[2021-07-03 11:54] NoLooseEnds commented on #37
I got it to show up by adding

`"mc",  # Door Window Sensor` to the TUYA_SUPPORT_TYPE array:

[code]

For reference – the sensors I got is [NEO COOLCAM Wifi Door Window Sensor ](https://www.aliexpress.com/item/32858144085.html)

Restarted HA again, and I got my door sensors.

[2021-07-03 12:10] Yersi88 opened #46 "Invalid Authentication"
I'm sure everything I type in there is correct. I tried as country code: 44, +44 and GB. Nothing is working. Please help

**Screenshots**
![image](https://user-images.githubusercontent.com/77145281/124353582-54c0d880-dbff-11eb-8da6-da6079d70dac.png)
![image](https://user-images.githubusercontent.com/77145281/124353601-67d3a880-dbff-11eb-95af-3955e0469e5c.png)

[2021-07-03 12:37] djsnho commented on #46
also got this issue. I solved it by creating a new project (and connected my Tuya app to that project). Also changed my account password.

As far as country code, with "44" should be ok

[2021-07-03 12:53] iotinkognito opened #48 "Arlec Smart Home Hub Bluetooth Gateway AU"
**Device normal info**
- Brand: Arlec Smart Home Hub Bluetooth Gateway AU

- Model: SGS01HA

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
      "active_time": 1623229189,
      "biz_type": 18,
      "category": "cz",
      "create_time": 1560491945,
      "icon": "smart/pr

[2021-07-03 13:01] iotinkognito opened #49 "Add Universal Radio Frequency Remote Control Product: YOVDA YRC12"
**Device normal info**
- Brand: YOVDA
- Model: YRC12

Universal Radio Frequency Remote Control
Product Model：YRC12
Product Category：IR Remote Controllers
Communication Type：Wi-Fi,Infrared

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
      "active_time": 1623229189,

[2021-07-03 13:16] Gferretta commented on #37
This hack work for me.
Thanks
Waiting for official release.

The only problem is that it doesn't show any value for the battery! ; (
I don't know if that depends on the firmware of the sensor or what other reason.

![Tuya v2 HA 1](https://user-images.githubusercontent.com/65413059/124355341-fbe54600-dbe6-11eb-9342-83dc458e04d9.jpg)

[2021-07-03 13:21] Zaiban commented on #15
Seems to be working now after upgrading to 1.3. Thanks a lot!

Swing is not working, though that is not a issue for me. I'll close this as the original issue is now fixed.

[2021-07-03 13:21] #15 closed

[2021-07-03 14:26] sondreen opened #50 "Support for Wi-Fi Smart Pet Feeder FDW010"
**Device normal info**
- Tuya
- Wi-Fi Smart Pet Feeder FDW010

**Device info**
{
"active_time": 1623662436,
"biz_type": 18,
"category": "cwwsq",
"create_time": 1623662436,
"icon": "smart/icon/ay1513237774906SMBA3/80ab5a936fb118ac0d0bb996f8e8abfb.png",
"id": "507170238caab5df203f",
"ip": "XXXXXXXXX",
"lat": "XXXXXXXXX",
"local_key": "XXXXXXXXXXXX,
"lon": "XXXXXXXXX",
"name": "Pet Feeder",
"online":

[2021-07-03 15:24] kbarendrecht commented on #39
@tsutsuku This is all there is in the Home Assistant UI; Configuration -> Logs. Is there somewhere I could find more?

[code]

[2021-07-03 16:23] NoLooseEnds commented on #37
I don't have any values for battery in HA either, but I can see the `battery_state` in the [API response](https://github.com/tuya/tuya-home-assistant/issues/37#issuecomment-873395138).

[2021-07-03 17:02] micksel commented on #46
I'm getting the same errors, I copied the AccessID and Access Secret and also tried my account + password with the normal tuya integration and in the app...

[2021-07-03 17:59] novisys opened #51 "BHT-8000 integration"
**Device normal info**
- wk: Thermostat
- BHT-8000

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
"active_time": 1624049544,
"biz_type": 18,
"category": "wk",
"create_time": 1622921910,
"icon": "smart/icon/15264583415nnlzwfs1qd2wqz6i937op3nmi_0.png",
"id": "1070736424a16036

[2021-07-03 20:13] Yersi88 commented on #46
Yup

[2021-07-03 20:35] andytuinman3 opened #52 "State changes are not visible in Home Assistant (Plug socket)"
**Describe the bug**
I have multiple Hombli plugs and wanted to test out the new tuya v2 integration. I setup everything just fine and the devices are visible. But first of all Power measurements are not refreshed. It just pulls it one time and leaves it at that. Whatever happens.
Second: Whenever I switch off my socket with the smart life app, the entity in Home assistant doesnt change. It stays

[2021-07-03 20:49] gijsje commented on #23
Can we also have a low water level warning?

[2021-07-03 20:54] remb0 opened #53 "Invalid authentication"
**Describe the bug**
2021-07-03 20:48:44 INFO (SyncWorker_13) [custom_components.tuya_v2.config_flow] TuyaConfigFlow._try_login finish, response:, {'code': 2406, 'msg': 'skill id invalid', 'success': False, 't': 1625345324595}

**Expected behavior**
I recreated a new account. changed pass in smartlife app. enabled all regions in IOT.
I have the Netherlands as country in the smart life app. So I us

[2021-07-03 20:57] stevekuchta commented on #40
Resetting the Tuya app password (not the developer password) seems to have fixed this issue for me. I did this from within the app. I had already unlinked and relinked the account from within the Tuya developer console, but I don't think that had an impact. I did not unlink and relink after I reset the Tuya app password. (Also of note is that I had both my Tuya app and developer passwords the same

[2021-07-03 21:11] emilinsweden opened #54 "Cover entity unavailable"
Zemismart cover motor with Wi-Fi is not working.

2021-07-03 22:59:17 ERROR (MainThread) [homeassistant.components.cover] Error adding entities for domain cover with platform tuya_v2
Traceback (most recent call last):
File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 383, in async_add_entities
await asyncio.gather(*tasks)
File "/usr/src/homeassistant/homeassistant/helper

[2021-07-03 22:17] robertbigk commented on #23
Superb if possible sure:)

[2021-07-03 22:21] robertbigk commented on #24
When You need log for this device let me know.

[2021-07-03 22:52] strasharo commented on #37
That fixed it for me! Thanks a lot!

[2021-07-03 23:13] kebel87 commented on #54
same error for me, using Quoya (Zemismart) cover.

[2021-07-03 23:34] robertbigk commented on #23
Or You ask me? yes i got this kind warning in original app

[2021-07-04 00:33] danielp370 commented on #28
Hi, I also have a 'qn' heater.  It only responds to limited commands so it also sees the same errors above for any command that the API does not support including min temp, modes, etc.  I  got it to work and show the entities by quickly hacking up climate.py to ignore those errors, and adding some support for 'on' (via modes).   I'd like to have a go and implement this properly - however, I'm not

[2021-07-04 00:43] hermesonfg opened #55 "Circuit Breaker 80a 3P not supported (only power enable) No Eletric Consumption information"
**Device normal info**
- Brand Tuya Circuit Breaker
- Model 80A 3P

2021-07-03 21:38:55 INFO (MainThread) [custom_components.tuya_v2] Tuya async setup conf None
2021-07-03 21:38:56 INFO (MainThread) [custom_components.tuya_v2] tuya.__init__.async_setup_entry-->{'password': 'maxtubos2010', 'endpoint': 'https://openapi.tuyaus.com', 'access_id': 'gugxtadeapngffzu9v7o', 'access_secret': '7187e53e00a34

[2021-07-04 00:45] nellywelly commented on #53
I have a similar issue.
My tuya app is on +61
and my dev cloud project is set to China.
"Invalid authentication"

[2021-07-04 05:55] rodgrech opened #56 "Kogan SmarterHome™ 1.7L Smart Glass Kettle"
Any chance of getting any of the kogan smarterhome range into tuya2 intergration. its the only reason i am staying with the V1

https://www.kogan.com/au/buy/kogan-smarterhome-17l-smart-glass-kettle/

2021-07-04 15:43:59 DEBUG (Thread-8) [tuya iot] connecting ssl://m1.tuyaeu.com:8883
2021-07-04 15:44:00 DEBUG (SyncWorker_6) [tuya iot] Response: {
"result": [
{
"active_time": 1621928820,
"biz_type":

[2021-07-04 06:06] riddler2608 opened #57 "motion sensor not changing states"
ha sees the sensor but it does not change states
shows as clear but if you turn actual sensor off it will change states to unavailable

![Capture1](https://user-images.githubusercontent.com/84611157/124374391-34b41680-dcde-11eb-8d4d-9e36a059e97e.GIF)

![Capture](https://user-images.githubusercontent.com/84611157/124374417-5ca37a00-dcde-11eb-94b8-73895ece784b.GIF)

![Capture2 (3)](https://user-imag

[2021-07-04 07:07] mrwhite31 commented on #37
I do have three different types of contact sensors. Only one of them showing the battery status. Looking into the API responses I see three different types of battery states. Only one returned correctly is "battery_percentage". Then there is also "battery_value" returning an integer and "battery_state" which can me "high|low|mid". In sensor.py only "battery_percentage" is in.

my approach here wou

[2021-07-04 07:23] Alloc186 opened #59 "Error setup thermostat"
Logger: homeassistant.components.climate
Source: custom_components/tuya_v2/climate.py:305
Integration: Klima (documentation, issues)
First occurred: 9:19:01 (2 occurrences)
Last logged: 9:19:02

Error adding entities for domain climate with platform tuya_v2
Error while setting up tuya_v2 platform for climate
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/en

[2021-07-04 07:25] sambarlick commented on #56
Yes please! I came on here to ask the same thing! I would also like to add the ability in V2 to be able select the "keep warm" temperatures as you can in the app.

[2021-07-04 08:22] gijsje commented on #23
No i was wondering if we could also get the low level sensor in to ha

[2021-07-04 09:26] sambarlick opened #60 "Genio Motion Sensor"
**Device normal info**
- Brand
- Model

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
      "active_time": 1623229189,
      "biz_type": 18,
      "category": "cz",
      "create_time": 1560491945,
      "icon": "smart/product_icon/cz.png",
      "id": "21146343500291c0ee43

[2021-07-04 09:31] Stupco opened #61 "New Device Request: PIR Deta Grid Connect Smart Compact PIR Sensor"
**Device normal info**
- Deta
- Grid Connect Smart Compact PIR Sensor

https://www.bunnings.com.au/deta-grid-connect-smart-compact-pir-sensor_p0129567

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
"active_time": 1625295948,
"biz_type": 0,
"category": "pir",
"create_time":

[2021-07-04 09:45] yab999 opened #62 "linked devices not showing in tuya v2"
linked my tuya account to tuya v2, authorization was successful and in the integration section Tuya v2 shows my tuya smart account ID. although no devices were added and there is no configuration option within the tuya v2 tab.

I disabled my local tuya and tuya integration from my HA but nothing solved the issue. even tried deleting the integration and started with a fresh copy.

![image](https://

[2021-07-04 09:55] edufabra commented on #54
Here is my error log when I've added the plugin and detected my YH002 device:

[code]

[2021-07-04 10:40] sambarlick opened #63 "Genio Door/Window Sensor"
**Device normal info**
- Brand: Mirabella Genio
- Model: Door/Window Sensor

https://www.mirabellagenio.com.au/product-range/mirabella-genio-wi-fi-door-and-window-sensor/

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
      "active_time": 1623229189,
      "biz_type": 18,

[2021-07-04 10:45] sambarlick commented on #42
Agreed, Lights don't turn on but will turn off.

[2021-07-04 10:47] sambarlick opened #64 "Cameras?"
Are Cameras on the list for supported devices in the future?

I have some Tuya based cameras that I want to be intergrated, even if it's just as a motion sensor, but ideally with the feed.

Thanks,
Sam

[2021-07-04 11:17] Filip722 commented on #53
I had the same problem with v1 addon while using an account that was made by "sign in with google". Maybe this applies here also?

[2021-07-04 11:34] frankosborne commented on #56
Hey guys.

I have created a pull request to add support for the kettle (I own one of these kogan ones too and I love it! ).  :)

[2021-07-04 12:03] hiraniha opened #66 "Can't see Tuya V2 in Integrations after adding via HACS or Manual Install"
After adding the Integration and rebooting HA, when I do Add Integration I only see Tuya and LocalTuya, I don't have Tuya V2.

I also tried downloading and installing manually.

Any idea what I have done wrong, I have tried it a couple of times, I can see the files in the custom components

[2021-07-04 12:14] frankosborne commented on #56
@tsutsuku. Seeking your advice on how the status set for product id: GXoLAzy1gQUbckKe works. In the app we have greater control of the device. Setting keep warm temps as well as current temp. When I look at the instruction set and status set for the device, none of it is there. Just the status "start" item. Is there something I am missing? Thought you may be able to see more in the back end on how

[2021-07-04 12:18] frankosborne commented on #66
Try clearing your cache or loading HA in a inPrivate or incognito window. :)

[2021-07-04 12:24] markusg1234 opened #67 "Door/ Window sensor. Only battery percentage displaying in Home Assistant"
**Device normal info**
- Generic Brand
- Door/Window Sensor

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
  "result": {
    "active_time": 1625389986,
    "biz_type": 0,
    "category": "mcs",
    "create_time": 1625389986,
    "icon": "smart/icon/ay1562803410690AUgvL/6915

[2021-07-04 12:38] Kranzy opened #68 "Error adding fan to home assisatant"
I get the following error when adding a Skyfan fan to home assistant. The device shows up but no control for either on/off or speed.

[code]

[2021-07-04 13:00] esjani opened #69 "No entities or devices shown in the integration"
**Describe the bug**
Setup was done through HACS, Tuya v2 can be added via the integration, but no devices or entities are available. In the Tuya IOT I can see all my devices under the project

**Expected behavior**
All devices which are shown ont the Tucya IOT are available under the Tuya V2 integration in HA

**Screenshots**
![210A321F-CD49-42A4-8B63-CD7A086E8C23](https://user-images.githubuserc

[2021-07-04 13:00] kbarendrecht commented on #39
I have uninstalled the custom_component from HACS, then deleted the integration, then installed and set up the integration. Still have the same problem. Could it have something to do with the device type showing up as 'video camera' while it shows as 'switch' in the tuya IOT platform? (it is a switch)
![image](https://user-images.githubusercontent.com/18546657/124385981-56120400-dcd8-11eb-8a07-0b8

[2021-07-04 13:04] hiraniha commented on #66
Thanks that did the trick, I tried reloading it so many times, but didn't try that :(

[2021-07-04 13:04] #66 closed

[2021-07-04 13:25] hiraniha opened #70 "Errors when detecting device - Diffuser"
**Describe the bug**
When I add the integration I see the device correctly and it show 2 entities, but neither works the on/off or the light

**Expected behavior**
The on/off should switch the diffuser on/off and the light control has a rbg configuration in the Tuya App, there is also a Weak/Strong feature on the app, which doesn't appear in the integration, but that could be an enhacement

**Scre

[2021-07-04 13:25] cichy45 opened #71 "Power socket - not reporting sensors values"
I installed Tuya V2 via HACS. All of my whole 2 power sockets were discovered correctly in HA. However, no parameters for Volts, Amps, Power are reported. Only status On/Off is available.

**Expected behavior**
I would imagine that all values visible in Tuya Smart app should be available via official HA integration. Without values for Amps, Volts, Power we can not create automations as in Tuya Sma

[2021-07-04 13:30] kbarendrecht commented on #52
This issue seems to be the same as mine: #39
Can you verify if you have a `/usr/local/lib/python3.8/site-packages/tuya_iot/` folder?

[2021-07-04 13:30] hiraniha opened #72 "Device not detected"
**Describe the bug**
I have two devices but only one has been detected

**Expected behavior**
I was expecting the device to be automatically detected

**Device info**
{
  "result": {
    "active_time": 1625390602,
    "biz_type": 0,
    "category": "pir",
    "create_time": 1625390602,
    "icon": "smart/icon/ay1536534747810ekKBj/33e050831a2f667fcae9bff8aa5ec73b.png",
    "id": "675063713c6105dd66

[2021-07-04 13:33] andytuinman3 commented on #52
But your switch doesn't work at all. I can switch it on and off through home assistant just fine. But whenever I switch it on or off through smart life the state doesn't change on home assistant.

[2021-07-04 13:44] cichy45 commented on #72
I have update.

Tuya Local V2 works correctly on newest core-2021.6.6 but does not work on core-2021.3.3.

If you face any issues try to upgrade. Issue can be closed @hiraniha - maybe this information about HA Core version should be added to setup guide?

[2021-07-04 13:51] tsutsuku commented on #39
@kbarendrecht  Try v1.3.1.

[2021-07-04 13:51] tsutsuku commented on #42
@motisht  Try v1.3.1.

[2021-07-04 13:53] tsutsuku commented on #57
@riddler2608  It seems something wrong with the MQTT, can you provide more logs?

[2021-07-04 13:55] tsutsuku commented on #37
@Gferretta  mcs fixed in v1.3.1.

[2021-07-04 13:56] tsutsuku commented on #59
@Alloc186 Can you provide the device's specification?

[2021-07-04 14:08] tsutsuku commented on #62
@yab999 check your device is supported.
https://github.com/tuya/tuya-home-assistant/wiki/Supported-Device-Category

[2021-07-04 14:09] Gferretta commented on #37
Updated!
Thank a lot

Yet not info of battery!  ;(

    "product_id": "**ikfjwqdbpnh154b9**",
    "product_name": "Contact Sensor",
    "status": [
      {
        "code": "doorcontact_state",
        "value": false
      }
    ],
    "sub": false,

I found that [Wi-Fi Door Sensor](https://expo.tuya.com/product/575579) with same "product_id" code.... maybe help with the battery info.

Thank again

[2021-07-04 14:19] tsutsuku commented on #67
@markusg1234  Try v1.3.1

[2021-07-04 14:20] tsutsuku commented on #68
@Kranzy Can you provide more logs?

[2021-07-04 14:21] kbarendrecht commented on #52
It only functions when the state of the entity matches the state of the switch. I found out that if I press twice quickly, it does send the 'off' command, after which it will work one time again, because it sends the 'on' command.

[2021-07-04 14:21] tsutsuku commented on #69
@esjani Can you provide more logs?

[2021-07-04 14:22] tsutsuku commented on #70
@hiraniha  Can you provide the device's specification?

[2021-07-04 14:23] kbarendrecht commented on #39
@tsutsuku Still the same.

[2021-07-04 14:39] steve-tapgen commented on #38
Thanks for the insight, it seems this lock is quite different than the standard docs.

device status gives:
{
  "code": 2003,
  "msg": "function not support",
  "success": false,
  "t": 1625409085804
}

if I query for functions:
{
  "code": 2009,
  "msg": "not support this device",
  "success": false,
  "t": 1625409203094
}

In the HA logs it says for specifications same thing:
2021-07-03 21:33:02

[2021-07-04 14:46] esjani commented on #69
Sure, can you please specify what you need!

[2021-07-04 15:14] motisht commented on #42
Hey @tsutsuku it works great now!
Thank you very much for the fast support!
Moti

[2021-07-04 15:19] WildeRNS commented on #45
![Screenshot_2021-07-04-18-17-27-644_com tuya smartlife](https://user-images.githubusercontent.com/1622732/124390429-43a5c380-dcf4-11eb-97c9-1bde3d09e7bc.jpg)
Thanks for adding support for breaker, but 8n Home Assistant I only see switch and total energy but not other parameters (see screenshot)

[2021-07-04 17:35] dudenell opened #73 "Merkury Innovations Water Leak Detector [enhancement, help wanted]"
Device normal info

Brand: merkury innovations
Model: Water Detector

    {
      "active_time": 1620865009,
      "biz_type": 0,
      "category": "sj",
      "create_time": 1620864827,
      "icon": "smart/icon/ay1503986080106Gppjy/da82b8ece3b0c75dde82600bbfe49301.png",
      "id": "43008300bcddc2bfe920",
      "ip": "99.140.240.81",
      "lat": "35.7173148",
      "local_key": "3feec71a957ac27

[2021-07-04 18:09] Richard7325 opened #74 "Wifi Temperature Humidity Sensor MIR-TE200 not updated"
**Describe the bug**
Wifi Temperature Humidity Sensor MIR-TE200 not updated.

Initial value was as in the tuya smart app. But not updates when the temperature changes. Change are visible in the  tuya smart app

**Expected behavior**
Home assistant temperature same as tuya app.

Version 1.3.1

[2021-07-04 18:56] Yersi88 commented on #46
Update: Same behavior with version 1.3.1. Still can't log in.

[2021-07-04 19:25] pmd5700 commented on #59
I'm having the exact same issue. I'm using this device. https://inkbird.com/products/itc-308-wifi

[2021-07-04 19:30] Alloc186 commented on #59
I use this type of thermostat, it's called Hysen hy08-1.

Dne ne 4. čvc 2021 21:25 uživatel pmd5700 ***@***.***> napsal:

[2021-07-04 19:54] Radlagerkok commented on #31
+ I have the same. I can see that, but I am not able to find this one in Home Assistant. Only battery
![smoke](https://user-images.githubusercontent.com/67847514/124397789-aa3dd800-dd1a-11eb-86c8-bc07977174c6.jpg)

"active_time": 1604662607,
      "biz_type": 0,
      "category": "ywbj",
      "create_time": 1604662607,
      "icon": "smart/icon/ay1537847617560vAgbw/98dd275e7b0720f5b691906080b7651

[2021-07-04 21:55] yab999 commented on #62
its a tuya dimmer, works fine with tuya smart and logs do not show any issues

[2021-07-04 22:06] hermesonfg commented on #55
![Screenshot_20210704-185115_Tuya Smart](https://user-images.githubusercontent.com/53538234/124400694-d5183400-dcfa-11eb-9621-28299a268d6b.jpg)

the app shows me 3 phases, and the other consumptions!!!!

[2021-07-04 22:38] djhampson commented on #53
I'm also having this issue...

My Dev account is set to the US region. My Tuya Smart account is AU based. I've tried logging in with +61.

[2021-07-04 23:21] hiraniha commented on #70
IS this what you are refferring to?

{
  "result": {
    "category": "jsq",
    "functions": [
      {
        "code": "switch_led",
        "type": "Boolean",
        "values": "{}"
      },
      {
        "code": "switch_spray",
        "type": "Boolean",
        "values": "{}"
      },
      {
        "code": "mode",
        "type": "Enum",
        "values": "{\"range\":[\"small\",\"large\"]}"

[2021-07-04 23:24] hiraniha commented on #72
I am on the following

core-2021.6.6
supervisor-2021.06.6

[2021-07-04 23:51] SgtBatten commented on #28
I am very new to HA in general but also very keen to learn and decent at picking up things with good examples.
@danielp370 How can i provide the equivalent info for my heater or help you get this working.

To clarify, mine may not have a fan necessarily. It just has two modes high and low in the kogan/tuya app. high mode heats up faster is all i can really tell you.  The Kogan website describes it

[2021-07-05 00:01] SgtBatten commented on #69
@esjani

log tuya in more detail with this in configuration.yaml

[code]

[2021-07-05 00:42] jayste4 opened #78 "Heater Entity not detected"
**Describe the bug**
Tuya V2 does not add the entity for my Heat Storm Wifi Heater.

**Expected behavior**
When I select my heater from the Tuya V2 devices list, I should also be able to see the entities.  The 'old' Tuya integration shows the entities for the heater.

**Screenshots**
Old Tuya view  shows entities: https://photos.app.goo.gl/FJPv49ZouofRTcyU6
New Tuya V2 - No entities: https://photo

[2021-07-05 00:59] iSteeb commented on #63
I have the same device and the same issue.

[code]

I think our issue may not be an integration bug but either a product bug or the API itself.  Notice under "status" there is no status.  If we try the API call for get device status we get this:

[code]

I think, for some reason, this particular product doesn't allow it's status to be pulled, which may explain the failed integration... I'm not fee

[2021-07-05 01:24] keithww7 commented on #46
Same issue, but I just loaded the integration and had not signed on with prior versions.

[2021-07-05 01:30] Jhonattan-Souza opened #84 "New device support -> Blitzwolf BW-FUN3"
**Device normal info**
- Brand BlitzWolf
- Model BW-FUN3

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):** like this:
[code]

**Device specifications (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)

[2021-07-05 01:47] markusg1234 commented on #67
Thankyou. It now works correctly.

[2021-07-05 01:48] #67 closed

[2021-07-05 02:08] tsutsuku commented on #59
@Alloc186  Get the device specifications from the log.
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Get-the-Log

[2021-07-05 02:20] tsutsuku commented on #74
@Richard7325 Can you provide the log?

[2021-07-05 02:21] tsutsuku commented on #62
@yab999 Can you provide device specifications from the log?

[2021-07-05 02:23] tsutsuku commented on #53
@remb0 Try v1.3.1

[2021-07-05 02:38] djhampson commented on #53
@tsutsuku I have tried 1.3.1 but still getting the following errors

`2021-07-05 12:33:12 INFO (MainThread) [custom_components.tuya_v2.config_flow] TuyaConfigFlow.async_step_user start, is_import= {'password': 'xxxxxx', 'access_id': 'xxxxxx', 'access_secret': 'xxxxxx', 'tuya_app_type': 'tuyaSmart', 'country_code': '+61', 'username': 'xxxxxx'}
2021-07-05 12:33:12 INFO (SyncWorker_13) [custom_compon

[2021-07-05 02:38] tsutsuku commented on #70
@hiraniha on/off is supported in v1.3.1.
And the light, there is some wrong with the product DP code. We will fix it soon.

[2021-07-05 02:39] Rudolf1001 opened #87 "Temperature and Humdity sensor Blitzwolf BW-IS4 not supported"
**Device normal info
- BlitzWolf
- Model BW-IS4

**Device info
{
"active_time": 1615288051,
"biz_type": 0,
"category": "wsdcg",
"create_time": 1615288051,
"icon": "smart/icon/ay1506337792739cXrIR/c5a426e3939e65528c60b6a357d7bbd6.jpg",
"id": "bffef7a400fd4a4340qo0s",
"ip": "",
"lat": "xxxxx",
"local_key": "6e4f2dc71d4f9f89",
"lon": "xxxxxxx",
"model": "BW-IS4",
"name": "Teploměr ložnice patro",
"no

[2021-07-05 02:45] hiraniha commented on #70
I saw v1.3.1 pop up today, I'll upgrade and confirm if the on/off is resolved.

Look forward to the solution for the light

[2021-07-05 02:52] tsutsuku commented on #38
@steve-tapgen  The device specifications need to standardize, we will fix it soon.
After that, you can develop on it.

[2021-07-05 02:55] tel196 opened #88 "Deta Fan Switch 6914HA"
Hi All
I have got my devices showing in the new Tuya V2 integration and most devices are working fine. I have fan and light controller that is only showing as a fan with a switch though.
I did have it set in local tuya integration and it was working previously
I have no programming experience and am lost reading through how to add new drivers.
Really looking forward to getting local integration as

[2021-07-05 03:11] tsutsuku commented on #69
@esjani Have you subscribed "Device status notification" in API
![WeChatWorkScreenshot_fb4e9c3b-2aa2-4a1e-8ae0-946fcdd9bcd5](https://user-images.githubusercontent.com/18442047/124412706-ae511080-dd81-11eb-9d15-f4c5d1315e88.png)

[2021-07-05 03:21] tsutsuku commented on #66
@hiraniha Can you provide logs?

[2021-07-05 03:35] hiraniha commented on #66
This one is resolved now, it was just me I need to close the browser and reopen it as it only showed up after that, there was nothing in the logs

[2021-07-05 03:41] hiraniha commented on #70
I can confirm on/off now works.

When I add to Lovelace, it looks like this.  The Humidity is redundant for a Diffuser really.

![image](https://user-images.githubusercontent.com/73940881/124414408-07c33a80-dd96-11eb-9c2e-142020236fe6.png)

The Tuya app actually has Modes : Strong, Weak and Off

When I select Weak, it shows On- small

![image](https://user-images.githubusercontent.com/73940881/124

[2021-07-05 05:30] Richard7325 commented on #74
I dont see any log.

[2021-07-05 05:45] Alloc186 commented on #59
here my log:

`2021-07-05 07:32:32 DEBUG (SyncWorker_5) [tuya iot] Response: {
  "result": {
    "access_token": "28090ad8c49d791f57c726ff2bd928f0",
    "expire_time": 7200,
    "refresh_token": "b4ea87268ca94edbe1d5b921b127a1d9",
    "uid": "eu15367759794941j7hI"
  },
  "success": true,
  "t": 1625463152631
}
2021-07-05 07:32:33 DEBUG (MainThread) [tuya iot] start
2021-07-05 07:32:33 DEBUG (Threa

[2021-07-05 06:52] MartinKuhl commented on #31
After todays update Tuya v2 version 1.3.1 I have the same behavior like you @Radlagerkok
I see the battery state but not the smoke_sensor_status or the muffling value.

[2021-07-05 07:07] strasharo commented on #37
Sensor shows up fine in v1.3.1. Battery status isn't displayed though, so I'll open a separate defect for it.
Thanks a lot @tsutsuku!

[2021-07-05 07:07] #37 closed

[2021-07-05 07:08] strasharo commented on #14
@petebdeblois mcs just got resolved for me in v1.3.1. Try it, it should be fixed for you as well.

[2021-07-05 07:19] rickroetenberg commented on #54
Here is my error log (Device:RD Intelligent BlindMotor)

Logger: homeassistant.components.cover
Source: components/cover/__init__.py:244
Integration: Cover (documentation, issues)
First occurred: 9:12:54 AM (8 occurrences)
Last logged: 9:16:04 AM

Error adding entities for domain cover with platform tuya_v2
Error while setting up tuya_v2 platform for cover
Traceback (most recent call last):
  File

[2021-07-05 07:20] strasharo opened #89 "Battery state not shown for an "mcs" door sensor"
**Describe the bug**
The battery status isn't being displayed for an mcs door sensor, even though there's a battery entity for it and it's available in the Tuya app.

**Expected behavior**
The battery status should be displayed in the HA battery entity, as the info is available via the API.

**Screenshots**
![image](https://user-images.githubusercontent.com/3337997/124431935-b442f380-dd79-11eb-9cf

[2021-07-05 09:17] tangli159 commented on #25
升级到1.3.1版本了，错误代码变成了1106

[2021-07-05 09:19] philhzss commented on #19
@tsutsuku

So it's weird, they do update but not very often. For example right now, one of my sensors updated 4 hours ago, another 8 hours ago, another 11 hours ago and one of them 14 hours ago. However if I open smart life app, they all updated less than 1 hour ago.

So it's strange that Home Assistant and this integration isn't updating as often as the sensor is?? Using 1.3.1 right now

[2021-07-05 10:01] schmurrie commented on #69
I have exactly the same issue, and I just can't figure it out.

Tuya Iot project created 2 days ago
Smartlife account successfully linked to Iot account, and all devices showing under region "Europe"

Installed integration through HACS and also tried manually

Seems to install fine and log in "successfully" I set the region to "Europe" I'm in Australia and used +61 for country code

But no tuya ic

[2021-07-05 10:03] esjani commented on #69
Hey, thank you - I added the APIs and the devices showed up. If I am not mistaken, the install process should be updated, it was not obvious to me that I need those APIs…

Thanks again!

[2021-07-05 10:03] #69 closed

[2021-07-05 10:14] MarkWattTech commented on #29
@tsutsuku sorry for the delay!

`2021-07-05 10:52:44 DEBUG (Thread-5) [tuya iot] Response: {
"code": 28841101,
"msg": "No permissions. This API is not subscribed.",
"success": false,
"t": 1625478764351
}
2021-07-05 10:52:44 ERROR (Thread-5) [tuya iot] error while get mqtt config
2021-07-05 10:52:44 DEBUG (SyncWorker_1) [tuya iot] Response: {
"result": [
{
"active_time": 1625405926,
"biz_type": 18,

[2021-07-05 10:18] Benoulimou opened #90 "Unable to connect"
Hello,
I tried to make another account to develop, because with my basic account it did not work, and I still can't connect.

I have the following error:

2021-07-05 10:54:41 INFO (SyncWorker_15) [custom_components.tuya_v2.config_flow] TuyaConfigFlow._try_login start, user_input: {'password': 'xxxxxx', 'access_secret': 'c80825d2c98ca42dacc0f3b', 'access_id': '7xsf9vs55sf4', 'tuya_app_type': 'tuyaS

[2021-07-05 10:25] SgtBatten commented on #69
i never had to subscribe manually. just checked and it seems to have been automatic.

[2021-07-05 10:38] OIIIIO opened #91 "Australia region"
can't connect with a +61 australia region and no options in console to add

[2021-07-05 10:43] esjani commented on #69
For me it was completly empty. I had to subscribe and authorize all of the services manually.

[2021-07-05 11:17] riddler2608 commented on #57
Hows the best way to get extra logs you would need?

[2021-07-05 11:20] joe-sydney commented on #91
Are your devices linked in Tuya IoT Platform? Should appear under Europe...

[2021-07-05 11:28] tsutsuku commented on #25
@tangli159 能提供下1.3.1 登录部分日志么

[2021-07-05 11:29] tsutsuku commented on #54
@rickroetenberg @edufabra  Get it. We will fix it soon.

[2021-07-05 11:46] tsutsuku commented on #25
另外可以参考 Q&A 文档：https://github.com/tuya/tuya-home-assistant/discussions/85

[2021-07-05 11:53] petebdeblois commented on #14
@strasharo Thx for the info,  I got a refund for mine since I didn't have a approx ETA and it was basically a brick with the original app. It was a `category: mc` not a `mcs`. This is not added yet, though there is a [pull request](https://github.com/tuya/tuya-home-assistant/pull/75) open. Lets see

[2021-07-05 12:26] patrik-malina commented on #90
Same here, getting permission denied. Can connect to custom dev project, tho.

[2021-07-05 12:28] millers commented on #91
I'm connected from Australia. For the region I selected Europe (in the tuya iot dashboard and the home assistant I
Integration setup) then used 61 for the country code in HA setup

[2021-07-05 12:49] sachinss123 opened #92 "Fan with speed - only device created no entities"
**Describe the bug**
A clear and concise description of what the bug is.
I am adding a Fan switch with speed control and I see that the Tuya v2 integration is recognizing the device but not creating any entities in HA.

**Expected behavior**
A clear and concise description of what you expected to happen.
Both the device and associated entities should be created

**Screenshots**
If applicable, add

[2021-07-05 13:01] charliesjc commented on #46
Same issue for me. Updated my password to contain only letters and numbers and it still gives me invalid authentication. I'm not going to create a new account just for this because that is not a valid solution as far as I'm concerned.

[2021-07-05 13:05] tangli159 commented on #25
[code]

已经参考了Q&A，但是排除了几个可能的问题：
1.App 账号和云开发项目未关联：确保涂鸦智能或智能生活 App 和云开发项目关联。
![image](https://user-images.githubusercontent.com/50565072/124475063-e08b5e00-ddd3-11eb-8e1b-ad594ce47e75.png)

**已经关联。**

2.用户名或密码错误: 使用您关联云开发项目对应涂鸦智能或智能生活 App 的用户名和密码
**无误，使用账号密码可以正常登录app。**

3.可用区域错误
![image](https://user-images.githubusercontent.com/50565072/124475267-1892a100-ddd4-11eb-8352-03624346ef38.png)

**已经选择了所

[2021-07-05 13:08] Yersi88 commented on #46
Same here, I tried many times. Kind of unfortunate that developers are not willing to help us here.

[2021-07-05 13:09] tsutsuku commented on #92
@sachinss123 Can you provide the full log after login success?

[2021-07-05 13:10] tsutsuku commented on #46
@Yersi88 Can you provide your login error code from the log?

[2021-07-05 13:24] sachinss123 commented on #92
Sure, here you go...

2021-07-05 17:38:05 DEBUG (SyncWorker_3) [tuya iot] Request: method = POST, url = https://openapi.tuyain.com/v1.0/iot-01/associated-users/actions/authorized-login, params = None, body = {'username': 'sachinss@gmail.com', 'password': '39e626aced72ac6e5a199243e1ec06ab', 'country_code': '+91', 'schema': 'tuyaSmart'}, headers = {'client_id': 'cv399va9aq6lfpgnihie', 'sign': 'A686B

[2021-07-05 16:17] petebdeblois opened #93 "RGB, "category": "dj", doesn't have the same bightness value has the APP"
**Describe the bug**
In HA, Im trying to set up the bightness to 100%. Either through the Card or the light.turn_on Service.
In the App TUYA and the actual RGB light, it tops at 26%

**Expected behavior**
Same value in HA, the app and the RGB Strip

**Home Assistant Version**
- 2021.6.6

**Device info:**
{
    "active_time": 1623953897,
    "biz_type": 0,
    "category": "dj",
    "create_time": 1

[2021-07-05 16:32] yab999 commented on #62
sure, thats HA logs:
`2021-07-05 18:33:39 WARNING (SyncWorker_2) [homeassistant.loader] We found a custom integration tuya_v2 which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-07-05 18:33:39 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration localtuya which has

[2021-07-05 16:43] pmd5700 commented on #59
Here is mine. I censored my password and usernames.
[home-assistant.log](https://github.com/tuya/tuya-home-assistant/files/6765538/home-assistant.log)

[2021-07-05 19:31] mrwhite31 commented on #89
I am having the same problem.
Besides a contact sensor with "battery_state" like above I also do have one with "battery_value".

"status": [
{
"code": "doorcontact_state",
"value": false
},
{
"code": "battery_value",
"value": 100
}
],

....................................................................................................................................................................

[2021-07-05 19:46] DomiiBunn commented on #57
Bumping this.

[2021-07-05 20:47] motisht commented on #42
Hi @tsutsuku
One more question if you could help...
Is it possible to set the light color using HA Automation?
I couldn't find  way to do that.
Thanks,

[2021-07-05 21:21] ishioni commented on #15
@tsutsuku Looks like all my issues have been fixed with 1.3.1, but my AC still returns true/false for c_f. You said it would be a server-side change, so I'm pinging for that

[2021-07-05 21:56] patrik-malina commented on #46
Here is mine:

2021-07-05 23:52:56 INFO (MainThread) [custom_components.tuya_v2.config_flow] TuyaConfigFlow.async_step_user start, is_import= None
2021-07-05 23:53:17 INFO (MainThread) [custom_components.tuya_v2.config_flow] TuyaConfigFlow.async_step_user start, is_import= {'password': 'xxxx', 'access_id': 'xxxx', 'access_secret': 'xxxxx', 'tuya_app_type': 'smartlife', 'country_code': '381', 'user

[2021-07-05 22:02] Jhonattan-Souza commented on #84
I'm trying to add light capacity to the diffuser, but this error ocurrs with this request

Request:
{
   "commands":[
      {
         "code":"switch_led",
         "value":true
      }
   ]
}

Response:
{
   "code":2008,
   "msg":"command or value not support",
   "success":false,
   "t":1625522202845
}

[2021-07-05 23:30] freitas666 commented on #84
@Jhonattan-Souza back to Home Assistant Brasil bro kkkkk by L.FREITAS99 <3

[2021-07-05 23:53] freitas666 commented on #38
@tsutsuku i will use this topic to not create another...

Actually i have a smartlock... and get the information on log.

So i saw the ""category": "ms","

My ask is...if exist possibility to create a archive to put this smartlock there?
the model is: X2

[2021-07-06 00:01] Filip722 commented on #90
Same here:
`2021-07-06 01:59:08 INFO (SyncWorker_3) [custom_components.tuya_v2.config_flow] TuyaConfigFlow._try_login finish, response:, {'code': 1106, 'msg': 'permission deny', 'success': False, 't': 1625529548868}
`

My main suspect is that my account was made with "sign in with google" - as this was a problem in the v1. Was yours also?

[2021-07-06 00:02] Filip722 commented on #53
1.3.1 also gives me an error:
`2021-07-06 01:59:08 INFO (SyncWorker_3) [custom_components.tuya_v2.config_flow] TuyaConfigFlow._try_login finish, response:, {'code': 1106, 'msg': 'permission deny', 'success': False, 't': 1625529548868}
`

[2021-07-06 00:08] freitas666 commented on #9
How can i put this information on my tuya v2? Mine vaccum get just 3 entities..... could you help me?

[2021-07-06 00:20] schmurrie commented on #57
Same problem for me

[2021-07-06 00:23] djhampson commented on #53
@Filip722 - Just found https://developer.tuya.com/en/docs/iot/Home_Assistant_Integration?id=Kamcjcbvk2mu8#title-5-FAQ . Have a look at the Error Code 1106 section Maybe this will help you.

[2021-07-06 00:27] pyrosx commented on #91
I'm having a similar problem. I've tried every combo of Region and Country Code I can think of, and no authentication success yet.

My devices in iot.tuya are listed under America, not Europe.

[2021-07-06 01:41] tsutsuku commented on #91
@millers Try v1.3.1, if login is still not successful, please provide the log.

[2021-07-06 01:43] tsutsuku commented on #57
@riddler2608  check this.
![image](https://user-images.githubusercontent.com/18442047/124530161-912e4780-de3e-11eb-8cfc-e59b602f4715.png)

[2021-07-06 01:45] tsutsuku commented on #9
@freitas666  this code is in v1.3 and later versions. So what can I help you with?

[2021-07-06 02:05] freitas666 commented on #9
Hello @tsutsuku ... well i put my vaccum robot on tuyav2 but for me show just one entity with 3 attributes.... and this code looks like more attritubutes... how can i use this code?

[2021-07-06 04:24] stuffmattdoes commented on #16
@tsutsuku I installed HASS with the all-in-one, not the containerized version. Is there another way to access the device interaction logs?

[2021-07-06 04:57] roduzeb opened #94 "OEM Support"
Is there gonna be support to integrate the devices sell under the tag "powered by tuya" but are under a Tuya OEM app?

I been asking for apps like Globe and Lvmina Experience that are hot sells in our country MXN.

[2021-07-06 05:53] schmurrie commented on #94
Most mine are tuya oem and they work with this integration v2

[2021-07-06 05:55] roduzeb commented on #94
Can it be regard to a zone issue￼?
I'm in +52

[2021-07-06 06:12] DomiiBunn commented on #57
Sorry for a bad screenshot....on the go
Sadly it was already enabled
![Screenshot_20210706-081048](https://user-images.githubusercontent.com/51760394/124551034-dbf59280-de31-11eb-8b17-91b0e0e05834.png)

[2021-07-06 06:42] tsutsuku commented on #38
@freitas666 You mean to develop a lock driver or something else?

[2021-07-06 06:49] patrik-malina commented on #78
Same with me. Device found but no entities...
Log:
{
      "active_time": 1605952059,
      "biz_type": 18,
      "category": "qn",
      "create_time": 1605952059,
      "icon": "smart/icon/ay1539244260287RY0l6/15591841423ee64e9437b.png",
      "id": "bf40b9e3bb5c1f2e01wxjf",
      "ip": "xxx",
      "lat": "xxx",
      "local_key": "xxx",
      "lon": "xxx",
      "model": "ETOP-HT",
      "name

[2021-07-06 06:51] patrik-malina commented on #53
Found issue and workaround. I have google created acc on Smart Life app. Managed to connect with account name instead mail. It is long starting with **gg-**and some numbers. You can find it under Me->Home Management->Your home->Home owner

[2021-07-06 06:51] tsutsuku commented on #84
@Jhonattan-Souza

[2021-07-06 06:51] tsutsuku commented on #84
@Jhonattan-Souza

[2021-07-06 06:59] patrik-malina commented on #31
This is mine log if helps:
{
      "active_time": 1612890376,
      "biz_type": 18,
      "category": "ywbj",
      "create_time": 1612890376,
      "icon": "smart/icon/1530686906ogv1fq6etm_0.png",
      "id": "61300101d8bfc0dc8c9d",
      "ip": "xxx",
      "lat": "xx",
      "local_key": "xxx",
      "lon": "xxx",
      "name": "Smoke Detector Garage",
      "online": true,
      "owner_id": "17

[2021-07-06 07:06] tsutsuku commented on #84
@Jhonattan-Souza
This device needs to standardize, so light capacity will be enabled. we will fix it soon.

[2021-07-06 07:07] tsutsuku commented on #16
@stuffmattdoes  https://github.com/tuya/tuya-home-assistant/wiki/How-to-Get-the-Log

[2021-07-06 07:15] tsutsuku commented on #89
@mrwhite31 Can you provide the device info?
@osk2 Home assistant battery sensor entity only supports percent now, so we can't find a good way to display enum battery level.

[2021-07-06 07:15] riddler2608 commented on #57
![image](https://user-images.githubusercontent.com/84611157/124557770-35cf7a00-de7d-11eb-87d7-8e12c2d4d16d.png)

these are the products that the project is subscribed to.
by the look of the logs it looks more like something is missing from the actual integration script.

![image](https://user-images.githubusercontent.com/84611157/124558317-cf972700-de7d-11eb-8d55-34fe55e6a289.png)

[2021-07-06 07:23] tsutsuku commented on #57
@riddler2608  Try restart home assistant?

[2021-07-06 07:24] riddler2608 commented on #57
yes i have. i even deleted and reinstalled but has the same error in the logs

[2021-07-06 07:25] tsutsuku commented on #63
@sambarlick The product id 3ibf4tshedrzkijl  is standardized now, try again.

[2021-07-06 07:26] tsutsuku commented on #60
@sambarlick The device id p0y7ucexietpcqlq is standardized now, try again.

[2021-07-06 07:30] tsutsuku commented on #62
@yab999 category tgkg is not supported now.

[2021-07-06 07:33] mrwhite31 commented on #89
@tsutsuku please find the device info below.

couldn't you map "high" to 100%, "middle" to 50% and "low" to 10%?

{
"active_time": 1625507348,
"biz_type": 0,
"category": "mcs",
"create_time": 1554913101,
"icon": "smart/product_icon/qt.png",
"id": "",
"ip": "",
"lat": "47.4",
"local_key": "",
"lon": "7.6",
"model": "",
"name": "Window Sensor",
"online": true,
"owner_id": "",
"product_id": "7by9ERqg

[2021-07-06 07:34] sambarlick commented on #63
Thank you, the device has now appeared in Home Assistant after a full reboot. I see the Battery Status and Open/Close entities, the tamper alarm entity didn't come through though.

However, the state for open/close is only updated with a full Reboot of Home assistant, the state doesn't update as the state in the Smart Life updates. Not sure if this is the same with the Battery entity, too early to

[2021-07-06 07:36] Kranzy commented on #68
Yeah I am happy to. Which logs do you need? Just the Home Assistant logs?

I did a restart and these are the details from the HA log relating to Tuya v2:

[code]

[2021-07-06 07:37] imduffy15 opened #95 "Support for flashing opensource firmwares (esphome, tasmota, etc.)"
In the past we used to be able to flash opensource firmware to our ESP8266 devices, this was amazing as it allowed us to completely remove any internet dependency.

Sadly, due to changes, the method for doing this defined at https://github.com/ct-Open-Source/tuya-convert no longer works.

Could we please get an official (warranty is definitely void if you do it) method for converting Tuya based ES

[2021-07-06 07:39] sambarlick commented on #60
Thank you.

The device is now in Home assistant but similarly with the Door/Window Sensor in my other thread, the status isn't being updated and the tamper alarm didn't come through.

[2021-07-06 07:44] kuchel77 commented on #63
In Configuration Wizard, select Device status notification API.

Make sure you have selected this as this was what stopped me from getting it working and updating. You can go back and add to you overall thing by going Cloud-> Cloud Products and then All Products and add it to you account (you just add the trial version that runs for a year and costs nothing). You then need to authorise it for the

[2021-07-06 07:44] DomiiBunn commented on #57
I'm just wondering. Could the issue be it beeing installed thrugh HACS? It shouldn't AFAIK

[2021-07-06 07:49] schmurrie opened #96 "Incorrect Temperature in HA, display correct in smartlife app"
**Describe the bug**
In HA Incorrect temperature displaying, humidity is correct. Temps and humidity correct using smartlife phone app.

Unit used (Arlec brand, grid connect tuya app)

https://www.bunnings.com.au/arlec-grid-connect-smart-home-sensor-kit_p0148570

**Expected behavior**
Correct temp and humidity

**Screenshots**
![image](https://user-images.githubusercontent.com/79039030/124561976-1

[2021-07-06 08:00] riddler2608 commented on #57
just been looking around in tuya iot platform and noticed that in device details for the sensor there was no set data but for all the other plugs and leds that i have there are info there. would that have anything to do with it?

![image](https://user-images.githubusercontent.com/84611157/124564069-06703b80-de84-11eb-8de4-0ea6dce4b1ad.png)

[2021-07-06 08:12] tsutsuku commented on #96
@schmurrie Can you provide the device specification and info from the logs?

[2021-07-06 08:27] nellywelly commented on #53
I just resolved the issue by selecting myy country as china on IOT dev platform.
So server and IOT platform are on same server.
I dont know if i might have to confirm / validate a chinese number for this.

my country code was still Aus +61 on the hacs login

[2021-07-06 08:29] strasharo commented on #89
@mrwhite31's suggestion to map it to some values makes sense.

[2021-07-06 08:48] zlinoliver commented on #95
@imduffy15  Sorry, flashing PBT smart device's firmware conflicts with the Tuya business model, we won't provide any help or support to these methods.

The Tuya Home Assistant will support local control in Q3, 2021, you can achieve local control feature easily with the update.

[2021-07-06 08:54] schmurrie commented on #96
"active_time": 1616578207,
"biz_type": 18,
"category": "wsdcg",
"create_time": 1609480790,
"icon": "smart/icon/ay1536534747810ekKBj/156584130076b224f5a50.png",
"id": "------------------------------------------",
"ip": "",
"lat": "0",
"lon": "0",
"model": "YIDONG",
"name": "Indoor Temp",
"online": false,
"owner_id": "----------------",
"product_id": "3ubxbto1",
"product_name": "Climate Sensor",
"st

[2021-07-06 09:01] schmurrie commented on #96
Oh, it's HA is displaying in Fahrenheit instead of Celsius

Should be an easy fix ?

For example 18c is 64.4 F

[2021-07-06 09:14] tsutsuku commented on #96
@schmurrie  Can you provide the device specification?

[2021-07-06 09:17] tsutsuku commented on #53
v1.3.1 does not need region, so how about update to v1.3.1, then try again?

[2021-07-06 09:19] schmurrie commented on #96
Where do I find that? I included a link to the product on my first post

[2021-07-06 09:30] tsutsuku commented on #57
@riddler2608 Can you provide the response to the request from the log?

2021-07-06 17:22:24 DEBUG (Thread-5) [tuya iot] Request: method = POST, url = https://openapi.tuyacn.com/v1.0/iot-03/open-hub/access-config, params = None, body = {'uid': 'xxxxxxxx', 'link_id': 'xxxxxxx', 'link_type': 'mqtt', 'topics': 'device', 'msg_encrypted_version': '1.0'}, headers = {'client_id': 'xxxxxxx', 'sign': 'xxxxx

[2021-07-06 09:31] tsutsuku commented on #60
@sambarlick look this https://github.com/tuya/tuya-home-assistant/issues/63#issuecomment-874537514

[2021-07-06 09:32] tsutsuku commented on #68
@Kranzy Can you provide the device specification and info from the log like issues template?

[2021-07-06 09:35] tsutsuku commented on #96
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Get-the-Log

[2021-07-06 09:42] schmurrie commented on #96
It's huge and has all my ID's in the logs. Is there a particular section you need ?

This is from the logs

"active_time": 1616578207,
"biz_type": 18,
"category": "wsdcg",
"create_time": 1609480790,
"icon": "smart/icon/ay1536534747810ekKBj/156584130076b224f5a50.png",
"id": "------------------------------------------",
"ip": "",
"lat": "0",
"lon": "0",
"model": "YIDONG",
"name": "Indoor Temp",
"onl

[2021-07-06 09:44] schmurrie commented on #96
2021-07-06 16:45:18 DEBUG (SyncWorker_2) [tuya iot] Request: method = GET, url = https://openapi.tuyaeu.com/v1.0/devices/bfe8c3c36f4f162654mi3u/specifications, params = None, body = None, headers = {'client_id': '---------', 'sign': '------------', 'sign_method': 'HMAC-SHA256', 'access_token': '-----------', 't': '-----------', 'lang': 'en'}
2021-07-06 16:45:18 DEBUG (Thread-5) [tuya iot] Response

[2021-07-06 09:49] riddler2608 commented on #57
hope this is enough info

2021-07-06 19:37:49 INFO (MainThread) [custom_components.tuya_v2] Tuya async setup conf None
2021-07-06 19:37:49 INFO (MainThread) [custom_components.tuya_v2] tuya.__init__.async_setup_entry-->{'password': 'Dxxxxxxxxxxxxx', 'access_id': '5ktkqd53aq2g75jcfuj9', 'access_secret': 'dxxxxxxxxxxxxxxxxxxxx83a', 'tuya_app_type': 'tuyaSmart', 'country_code': '+61', 'username': 'rx

[2021-07-06 09:54] yab999 commented on #62
thank you for letting me know, hope this gets added soon.

[2021-07-06 09:54] #62 closed

[2021-07-06 11:43] DavidFFerreira commented on #30
+1

[2021-07-06 12:02] sambarlick commented on #63
Where is this? In HA or Tuya Developer Portal?

@tsutsuku  I got this set up and the Door/Window Sensor works but the Motion Sensor still doesn't update the status. Have I missed something?

[2021-07-06 12:08] imduffy15 commented on #95
How does enable changing the firmware impact on the business model? With local control enabled I would hope to put any Tuya devices on a network with no internet. They should be unknown to Tuya given no internet, if they are unknown what is the harm in allowing changing firmwares? A changed firmware device would be similarly unknown.

I would understand that the action of changing firmware would v

[2021-07-06 12:27] #74 closed

[2021-07-06 12:27] Richard7325 commented on #74
With the device notification api on lts working.

[2021-07-06 13:17] freitas666 commented on #38
Yes a lock driver...
Its possible? Could you help me?

Enviado do meu iPhone

Em 6 de jul. de 2021, à(s) 03:43, tsutsuku ***@***.***> escreveu:

﻿

@freitas666<https://github.com/freitas666> You mean to develop a lock driver or something else?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/tuya/tuya-home-assistant/issues/38#

[2021-07-06 13:53] jessexoc commented on #91
After some trial and error, I managed to get it working with the following:

I followed steps for "Listing Tuya devices from the **Tuya Smart** or **Smart Life** apps" in https://github.com/codetheweb/tuyapi/blob/1f1f8e5a678c7dd019b21d4b33b9a8d5d3ca02f8/docs/SETUP.md#listing-tuya-devices-from-the-tuya-smart-or-smart-life-apps (note I had done parts of this previously trying to set up a different i

[2021-07-06 13:58] philhzss commented on #19
Ok, now it seems they have updated within the last 1 to 6 hours. So even the ones that are ``stuck`` eventually update.

[2021-07-06 15:18] sajid2310 opened #100 "Fan is showing up but no controls available including on/off or fan speed"
Existing Tuya integration detect FAN as a switch but no Fan Speed control but tuya v2 does detect but no control for Fan Turn on/off or Fan Speed

**Device normal info**
- Homemate
- Model

**Device info (please complete the following information, which can be found in [log]()):**
like this:
{
"active_time": 1624690956,
"biz_type": 18,
"category": "fs",
"create_time": 1624690956,
"icon": "smart/ic

[2021-07-06 16:00] vookimedlo opened #101 "Air Purifier: Concept CA3000"
**Air Purifier**
- Vendor: Concept
- Model: CA3000

**Device info**

[code]

**Device specifications**

[code]

I did a dirty hack using the switch code to have a temporary solution for controlling the UV, Ionizer and power. However, the real solution would be to map the support to the HA Climate/HVAC.

![image](https://user-images.githubusercontent.com/2312301/124631509-bc875580-de83-11eb-8199-90

[2021-07-06 16:40] prehodacs opened #102 "Smart Plug with energy monitoring - incorrect measuring units"
**Describe the bug**

Added Blitzwolf BW-SHP6 smart socket to Home assistant with the new tuya_v2 integration.
The issue I discovered is that the measure units are mixed for Power, Voltage.
Also an issue is for Voltage displayed value is multiplied by 10
See the screenshot
![szaritogep](https://user-images.githubusercontent.com/82179823/124631780-0112f100-de84-11eb-9608-2c0fcc303e18.PNG)

**Expect

[2021-07-06 18:00] stuffmattdoes commented on #16
@tsutsuku thanks! Finally have some relevant log info:

I believe this is the request/response for initializing Tuya in Home Assistant:
[code]

And here is the interaction when I toggle the light entity via the Smart Life App.
* Note that the fan values are shown, but Home Assistant still appears to have no knowledge of the light component:

[code]

I'm looked at [this wiki](https://github.com/tuy

[2021-07-06 21:36] kuchel77 commented on #63
That is in the Tuya Developer Portal and the line came from their instructions, but I missed this on the first setup of this project.

[2021-07-06 22:37] Kranzy commented on #68
I am not sure what you mean by info from the log like issues template?

The fan I am trying to control is a skyfan with fan only, no light.
https://ventair.com.au/product/sky1203wh

Add in module to control via app
https://ventair.com.au/product/skyappcm

[2021-07-07 00:20] Sthopeless opened #103 "Support for WiFi Weighting Scales and Zigbee/WiFi DoorLock's"
Hello there are there any plans to add support for the Weighting Scales? I have been using the _Body Fat Scale API_ and it looks promising!

[code]

Also are there plans to support DoorLock, would be great if we could unlock the WiFi versions with the API like the Zigbee?

Zigbee lock:
[code]

WiFi Lock 1:

[code]

WiFi Lock 2:

[code]

[2021-07-07 01:05] schmurrie commented on #96
Can this be fixed or do you need more info from the log?

Thanks

[2021-07-07 02:00] tsutsuku commented on #96
@schmurrie search keyword "functions" and find the same device id response.
It may like this, and aaaaaaaaaaa is your device id.

[2021-07-01 10:18:01,351] [tuya-openapi] Request: method = GET, url = https://openapi.tuyacn.com/v1.0/devices/aaaaaaaaaaa/specifications, params = None, body = None, headers = {'client_id': 'xxxxxxxxxxxx', 'sign': 'xxxxxxxxxxxx', 'sign_method': 'HMAC-SHA256', 'access_to

[2021-07-07 02:02] tsutsuku commented on #68
like this:

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
      "active_time": 1623229189,
      "biz_type": 18,
      "category": "cz",
      "create_time": 1560491945,
      "icon": "smart/product_icon/cz.png",
      "id": "aaaaaaaaaaa",
      "ip": "xxxxxxxxxxxxxxxx",

[2021-07-07 02:24] tsutsuku commented on #16
@stuffmattdoes This device needs to standardize, which in the clouds. Also, integration needs to add functions.
So I think we will fix it in the next release.

[2021-07-07 02:26] tsutsuku commented on #102
@prehodacs Get it.

[2021-07-07 02:40] tsutsuku commented on #101
@vookimedlo I think fan + switch will be better, welcome to create a PR. let's make tuya_v2 better together.

[2021-07-07 02:42] stuffmattdoes commented on #16
@tsutsuku digging a bit deeper, I've found that parameter `'9'` in the response body is related to toggling the lights, while parameter `'10'` is related to the light brightness, presumably a value from 0-255.

### Toggling light
[code]

## Light brightness
[code]

[2021-07-07 02:45] tsutsuku commented on #100
@sajid2310 Can you provide more logs?

[2021-07-07 03:09] Kranzy commented on #68
Thanks for that, please see below. I enabled 'Device status notification' api and that removed some of the errors in my log. Still no entity shows up for the fan. Logs below as requested. I have removed anything I thought may be personal information.

[code]

[2021-07-07 03:11] Kranzy commented on #68
I still get this in the log about the fan

[code]

[2021-07-07 05:19] sambarlick commented on #63
Yea I missed this too, thanks @kuchel77

[2021-07-07 05:22] sambarlick commented on #60
@tsutsuku I set up the notifications API as stated in the other thread, but the motion sensor state is still not updating. The door/window sensor is working.

[2021-07-07 06:21] tsutsuku commented on #25
你这账号之前后台有些问题，处理掉了，能再试试么

[2021-07-07 07:45] tsutsuku commented on #68
@Kranzy Get it. I think we can fix it soon.

[2021-07-07 07:49] tsutsuku commented on #10
@limbrian v1.3.1 works for you?

[2021-07-07 07:56] tsutsuku commented on #27
@cstrand89 Try v1.3.1

[2021-07-07 07:57] tsutsuku commented on #21
@Fannangir try v1.3.1

[2021-07-07 07:57] tsutsuku commented on #36
@RHeynsZa Try v1.3.1

[2021-07-07 07:59] cstrand89 commented on #27
It seems to work now but the light in the diffuser seems to switch on automatically when I switch on the diffuser instead of working separately. Also how can I adjust hi/low setting on the diffuser?

[2021-07-07 08:26] tangli159 commented on #25
现在可以正常使用了，谢谢！

[2021-07-07 08:26] #25 closed

[2021-07-07 08:47] sajid2310 commented on #100
Additional logs - These are the only ones i can find referencing the device ID. Is there additional config needed in config.yaml?

2021-07-06 17:57:50 DEBUG (SyncWorker_1) [tuya iot] Request: method = GET, url = https://openapi.tuyaus.com/v1.0/devices/eba3fa0e92623b3535t31u/specifications, params = None, body = None, headers = {'client_id': '5efushdkaoaicowimadn', 'sign': '66B3412E3AC8C87A7296FD80

[2021-07-07 09:02] ferbulous commented on #103
I have the same question here.
Are you saying the zigbee doorlock is supported now?

[2021-07-07 09:19] hiraniha commented on #72
@cichy45

I have the following

 @cichy

I have the following

core-2021.6.6
supervisor-2021.06.6

[2021-07-07 09:20] Sthopeless commented on #103
@ferbulous I can open my Zigbee Locks using the API but not the WiFi versions.

Would be great if they were added to Home Assistant and if we could also remotely unlock the WiFi ones otherwise they are pretty much useless 😅

WiFi Scale API also looks great btw! I can pull all records (every time it weighted) with information's on who it belongs etc it would be also a great addition to Home Assista

[2021-07-07 09:43] ferbulous commented on #103
@Sthopeless That's great news for zigbee locks, I was planning to grab the wifi version.
Do you mind sharing the zigbee lock that you have?

[2021-07-07 09:55] Sthopeless commented on #103
@ferbulous it was purchased long time ago via Alibaba and 'custom' I don't know if you can find the same around!
That said, I think it should be pretty much the same for all Zigbee Locks.

There are _many_ steps required but it's mostly explained in the API documentation, search for Postman there to get started.

Not sure yet about Home Assistant (that's the main reason I created this issue 😛)
But

[2021-07-07 10:18] ferbulous commented on #103
@Sthopeless I see, when you mentioned  you could unlock the zigbee lock using the api, I assumed it was controlled on homeasssistant or done differently?

[2021-07-07 10:27] Sthopeless commented on #103
It was not controlled from Home Assistant, I have send a couple of API requests using Postman to do it.
Same for the WiFi Scale.

And the reason I opened this issue was to get clarified if they are going to be both added aswell to Home Assistant (if yes, when, if possible 😛) since the API seems to be working alright with no issues

[2021-07-07 11:06] jamessonsson commented on #100
It's the same for me, I have a Cleverio AF-F100 (https://www.kjell.com/se/produkter/hem-fritid/flaktar/cleverio-af-f100-golvflakt-med-luftfilter-p47081)
I use it via the Smart Life app, and can change fanspeed, oscilation and so on, but in the tuya it's only on/off.
Also, via the IoT Tuya developper page it's available, but to me it only have one function in the cloud.
<img width="797" alt="Tuya-c

[2021-07-07 11:41] tsutsuku commented on #61
@Stupco The device needs to standardize, now it is fixed. You can try again.

[2021-07-07 11:41] tsutsuku commented on #72
@hiraniha The device needs to standardize, now it is fixed. You can try again.

[2021-07-07 12:23] sajid2310 commented on #100
In your case your are able to see on/off...I cannot see this in tuya v2 but in the inbuilt tuya integration I can see it.

For Fan Speed one technique I have used if it is a 5 speed fan is to create "Tap-to-run"  in smart life which when triggered changes fan speed. This shows up as a scene in HASS. You could then use Input, Script & Automation to change speed from Dashboard

[2021-07-07 12:36] tsutsuku commented on #100
@sajid2310 Can you provide the fan device specifications?
like this:

[2021-07-01 10:18:01,351] [tuya-openapi] Request: method = GET, url = https://openapi.tuyacn.com/v1.0/devices/aaaaaaaaaaa/specifications, params = None, body = None, headers = {'client_id': 'xxxxxxxxxxxx', 'sign': 'xxxxxxxxxxxx', 'sign_method': 'HMAC-SHA256', 'access_token': '213e2d4af5e8d217abc0b104462a9f72', 't': '162510588135

[2021-07-07 12:53] Yersi88 opened #104 "Add support for Air Purifier"
Please add support for this air purifier. Should also include controls of speed and indication of filter remining and air quality.

**Device normal info**
- Brand: MEES Smart (according to amazon listing)
- Model: HIMOX-H06

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
{
"ac

[2021-07-07 14:25] Yersi88 commented on #46
UPDATE: Started working after I added the app to the IoT platform. It should be more clear that you're supposed to do that

[2021-07-07 14:25] #46 closed

[2021-07-07 14:32] novisys commented on #51
Any update ?

[2021-07-07 14:40] vookimedlo commented on #101
Sure, I will implement this (this will also resolve another air purifier request - #104 )

[2021-07-07 14:45] sajid2310 commented on #100
This is what i see in the logs...I have both tuya and tuya v2. Here is what works

Tuya Integration - On/Off - works, Fan speed: Does not show
Tuya V2 Integration - On/Off - Does not show, Fan Speed : Does Not show

These are the logs i have. I can also publish TUYA API OUTPUT too

2021-07-06 17:57:50 DEBUG (SyncWorker_1) [tuya iot] Request: method = GET, url = https://openapi.tuyaus.com/v1.0/devi

[2021-07-07 14:59] ranrinc opened #105 "Add support for Tuya Breaker"
**Device normal info**
- Bardi
- Breaker

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
    {
      "active_time": 1620214444,
      "biz_type": 0,
      "category": "tdq",
      "create_time": 1620214444,
      "icon": "smart/icon/ay1531122507771gALCb/e3312de40d960179da9d9ff

[2021-07-07 17:40] DomiiBunn commented on #57
I know i might look annoying in this issue but.
A light set thrugh the tuya app does not update it's status in ha so that is probobly related

[2021-07-07 19:31] alkalinelito opened #107 "Dehumidifier -no controls-"
Dehumidifier show no controls on device page on home assistant, maybe the device is not supported:

![image](https://user-images.githubusercontent.com/62256/124817019-9a530d80-df3f-11eb-8fcd-e534632a4a36.png)

I have the Dehumidifier on Smart Life, and I can see it in the cloud as follows:
![image](https://user-images.githubusercontent.com/62256/124817114-bbb3f980-df3f-11eb-822b-b31591b5cab8.png)

[2021-07-07 22:29] kyleteal opened #108 "Climate not showing correct temperature"
**Describe the bug**
Wrong set temperature shown in Home Assistant for an air conditioner. A few examples below
First number is what is shown under "Set Temperature" in Home Assistant, Second number is what my AC and the TuyaSmart states.

142 == 61
147 == 64
153 == 67
162 == 72
165 == 74
176 == 80
190 == 88

**Expected behavior**
Should state the correct temperature shown in both the TuyaSmart ap

[2021-07-07 23:22] Kranzy commented on #68
Awesome, thanks for your effort. appreciate it

[2021-07-08 00:39] RaptorPR443 opened #109 "Hugoai Bedside lamp not working"
Device - Hugoai Bedside lamp
Connected app - Smart Life
Issue -
while it recognizes the device, doesn't allow to turn off/on, rgb/cool to warm white control.
it can only control the brightness in Home Assistant.

with the old tuya integration everything works perfectly.

[2021-07-08 00:54] escobarin3 opened #110 "Contact/Temperature/Humidity/Luminance sensors not updating values in HA"
**Describe the bug**
I have a Temperature/Humidity/Luminance sensor installed. HA recognizes the device and its initial state values, but they do not refresh or update, so the information cannot be used for automation or information.

**Expected behavior**
Temperature/Humidity/Luminance value changes should be shown in real time and accurately.

**Screenshots**
If applicable, add screenshots to he

[2021-07-08 02:25] escobarin3 commented on #110
I forgot to mention that the device is connected through a Zigbee Gaeteway. Does this affect?

[2021-07-08 04:07] akkaria opened #111 "Contact Sensor Not Updating Automatically"
I have a door/window contact sensor. It's an Arlec Grid Connect Door and Window Sensor.

It shows in my Home Assistant and I can see the status but it does not update automatically. If I refresh the Tuya Integration the status then updates but again only when I reload the Integration manually.

I'm running Home Assistant version 2021.6.6 and Tuya Integration v1.3.1

Device info below.

{
  "result

[2021-07-08 04:56] hiraniha commented on #72
@tsutsuku

I can confirm the PIR has now been detected as a device with one entity

![image](https://user-images.githubusercontent.com/73940881/124864568-802b3500-dffc-11eb-946e-36bb4339a05e.png)

However even when the device and Tuya app show there is a detection of movement, HA is still show it as Clear

What can I provide to investigate that further?

[2021-07-08 05:07] hiraniha commented on #72
@tsutsuku

When I use the IOT platform and query the device details I see this section go from

    "status": [
      {
        "code": "pir",
        "value": "none"
      }
    ],

to

    "status": [
      {
        "code": "pir",
        "value": "pir"
      }
    ],

[2021-07-08 05:22] akkaria commented on #110
Do your devices show as offline in the Tuya IoT Platform? I've got a similar issue to you and i feel like it has something to do with the fact that the devices show offline until they go online for a split second, talk back to the hub and then the hub does the updating, then they go back offline again.

[2021-07-08 07:25] ranrinc opened #112 "old switches running 433RF connect to Tuya Bulb"
**Describe the bug**
I have several old switches running 433 RF which have no state. Now in order to make it work, I connect them into a smart bulb. I found out that upon changes the bulb becomes unavailable however the state remains online.

**Expected behavior**
When the tuya bulb becomes unavailable the state should remain unavailable and not online.

**Home Assistant Version**
- 2021.7.0

[2021-07-08 07:42] tsutsuku commented on #72
@hiraniha Get it, we will fix it soon.

[2021-07-08 08:04] tsutsuku commented on #111
@akkaria  https://github.com/tuya/tuya-home-assistant/discussions/113

[2021-07-08 08:05] tsutsuku commented on #109
@RaptorPR443  Can you provide the logs?

[2021-07-08 08:08] akkaria commented on #111
Thanks for your quick reply. I did see this post and already added it to my list and it fixed my switches but not my sensors. Still only updates when i reload the integration. The same thing happens with my temp sensors as well. No state updates unless i manually reload.

![image](https://user-images.githubusercontent.com/35688375/124886226-63502b00-e017-11eb-99b3-29bed159ee0a.png)

[2021-07-08 08:18] akkaria commented on #96
I too am having this same issue. In the Tuya app on my phone it is showing as Celsius but when i run the API explorer through the IoT platform it reports a value in farenheit which is then translated to Home Assistant.

{
  "result": {
    "active_time": 1625714946,
    "biz_type": 0,
    "category": "wsdcg",
    "create_time": 1625714946,
    "icon": "smart/icon/ay1536534747810ekKBj/156584130076b

[2021-07-08 09:10] tsutsuku commented on #108
@kyleteal Can you provide the product id?

[2021-07-08 09:12] tsutsuku commented on #57
@riddler2608 Get it, there is a bug in pir sensor, which will be fixed in next release.

[2021-07-08 09:32] tsutsuku commented on #107
@alkalinelito According to the cloud your device is a "Air conditioner", but in smart life screen, it a dehumidifier, so what's the real device it is?

[2021-07-08 09:43] Stupco commented on #61
@tsutsuku Thanks for the response! A change in the logs, but still not showing up in HA:
`2021-07-08 19:40:27 DEBUG (Thread-8) [tuya iot] Response: {
"result": {
"client_id": "xxxx",
"expire_time": 7200,
"password": "xxxx",
"sink_topic": {
"device": "cloud/token/out/{device_id}"
},
"source_topic": {
"device": "cloud/token/in/fabxxxx"
},
"url": "ssl://m1.tuyaeu.com:8883",
"username": "cloud_xxxx"
}

[2021-07-08 10:19] codevjs commented on #31
Same issue

[2021-07-08 10:58] rodgrech commented on #56
@tsutsuku, as @frankosborne stated above, within the kogan and tuya apps there is greater control of the kettle such as keep warm and current temp. is this something that would be able to be road mapped in future updates of the component.

i have just manually loaded the files that were changed 2 hrs ago and the kettle is now detected and working with on/off in HA

[2021-07-08 12:05] kyleteal commented on #108
@tsutsuku

"product_id": "hw50w7qvxluhslkk",

[2021-07-08 12:08] tsutsuku commented on #102
@prehodacs The unit is fixed, try again.

[2021-07-08 14:21] escobarin3 commented on #110
Hello. No, they show online. The original TUYA integration didn't recognize the device, so I couldn't use it for automations.
With Tuya 2 integration I was happy because the devices are now supported... bad luck they do not update.

All I want is for HA to turn on the lights automatically when lux levels are low... :(

[2021-07-08 17:02] AndreOrth commented on #102
Hello,
I have exactly the same problem with several Gosund SP111, 15A WiFi sokets:
![image](https://user-images.githubusercontent.com/81225566/124961070-4fa7c300-e01d-11eb-8ab0-955aaf442dda.png)

Volt (V) is Watt (W) in Home Assistant and vice versa. Both measures are too high by factor 10.

Home Assistant: 2021.7.0
Installation Type: Home Assistant OS

DEVICE DETAILS
{
  "result": {
    "active_t

[2021-07-08 17:11] carlosvroque commented on #30
Scenes are good for users with IR devices, so +1 here.

[2021-07-08 17:54] philhzss commented on #111
Same issue here, https://github.com/tuya/tuya-home-assistant/issues/19 I opened a while back but same thing. In the smartLife app they update more often

[2021-07-08 20:29] jkottier commented on #64
Indeed, basic (doorbell) camera support with at least movement and doorbell pressed notifications would be highly appreciated.

[2021-07-08 20:48] escobarin3 commented on #110
I just noticed that my Tuya Contact/Door sensors are not updating automatically. Checking other issues posted... I think is a generalized problem with sensors.

[2021-07-08 21:05] gijsje commented on #50
Yes please

[2021-07-08 21:12] Wildvuur opened #114 "New Device: wéau swimming pool heat pump"
**Device normal info**
- wéau
- WFI-013 (should be same as 007/010/017/021

**Device info

    {
      "active_time": 1625687862,
      "biz_type": 0,
      "category": "ktkzq",
      "create_time": 1625687760,
      "icon": "smart/program_category_icon/ktkzq.png",
      "id": "000110028cce4eeaff6d",
      "ip": "178.118.137.63",
      "lat": "50.9410119",
      "local_key": "60d183255351a63b",

[2021-07-09 01:48] tsutsuku commented on #110
@sanshengshui https://github.com/tuya/tuya-home-assistant/discussions/113

[2021-07-09 01:54] tsutsuku commented on #102
@AndreOrth You create a ticket in the Tuya service console with your device specifications.
https://service.console.tuya.com/8/2/create?step=3&id=01030503&source=content_feedback.

[2021-07-09 01:55] tsutsuku commented on #111
@akkaria  Can you provide your mcs device id?

[2021-07-09 02:24] freitas666 commented on #38
Some idea?

[2021-07-09 03:38] pyrosx commented on #91
Was still failing to login, until I realised the login details where the ones for the Access App (Smart Life), not the Dev (iot.tuya.com) set. Whoops!

[2021-07-09 03:50] escobarin3 commented on #110
Digging a little deeper... I also noticed that all my status devices do not update. I can control them, but the device/entity status always remain the same. So right now, according to HA, my door is always closed, my robot is always cleaning, my curtains are always closed... and my luminance level is always 100 lux.. I guess the issue is not only with sensors states.

[2021-07-09 04:15] escobarin3 commented on #110
Perfect. That was it. Thanks for the heads tip.

[2021-07-09 04:15] #110 closed

[2021-07-09 04:58] sajid2310 commented on #100
This is what shows up on my homeassistant. No switch or fan domain. can you please help
<img width="1920" alt="Screen Shot 2021-07-09 at 10 28 11 AM" src="https://user-images.githubusercontent.com/32875223/125025486-604d4d00-e0a0-11eb-90bf-79b67747fb1c.png">

[2021-07-09 05:34] seayworld opened #115 "Bulbs that lost power need HA Restart to reconnect"
**Describe the bug**
I have two GU10 5W bulbs (gjoql8b394g4jkt8) connected to Tuya Smart and Home Assistant.  Wall switch was turned off and bulbs dropped off WiFi.  When power restored, bulbs reconnected and were available in Tuya Smart App, and Original HA Tuya integration.  But V2 Tuya Integration would not show the bulbs available until HA was restarted.

**Expected behavior**
Tuya V2 Integrat

[2021-07-09 06:02] sachinss123 commented on #100
This is similar to my issue - the exact same device as well: https://github.com/tuya/tuya-home-assistant/issues/92

[2021-07-09 08:38] tsutsuku commented on #115
@seayworld Get it.

[2021-07-09 09:41] tsutsuku commented on #108
@tsutsuku  Your device can not be standardized in temperature unit due to manufacturer-defined logic so we can't fix it.
But you can make your tuya v2 working right by fork and develop by yourself.
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Develop-a-New-Driver

[2021-07-09 09:45] tsutsuku commented on #38
@freitas666 We will consider it.

[2021-07-09 09:46] tsutsuku commented on #64
We will consider it.

[2021-07-09 10:10] asifkassam commented on #53
unable to setup the integration with 'Invalid authentication'

getting the following in logs:

(SyncWorker_5) [custom_components.tuya_v2.config_flow] TuyaConfigFlow._try_login finish, response:, {'code': 2406, 'msg': 'skill id invalid', 'success': False, 't': 1625825186435}

[2021-07-09 11:27] strasharo commented on #89
@tsutsuku looks like the battery_state sensor coming from the mobile app is an enum:
https://companion.home-assistant.io/docs/core/sensors/

![image](https://user-images.githubusercontent.com/3337997/125071226-b1216d80-e0c1-11eb-9cbe-0832731981f7.png)

![image](https://user-images.githubusercontent.com/3337997/125071267-bda5c600-e0c1-11eb-8f33-83b7381432d7.png)

Maybe the integration could provide

[2021-07-09 11:59] jkottier commented on #64
I'm currently using a workaround to achieve this using a (virtual) Tuya switch and a Smart Life "Smart" automation to capture doorbell that turns on the Switch on a doorbell event. De switch events can be caucht in Home Assistant using an automation.

From that point on you can trigger anything using your Home Assistant.

[2021-07-09 12:03] djsnho opened #116 "Add support for "Blitzwolf BW-CLT1""
**Device normal info**
- Brand: Blitzwolf
- Model: BW-CLT1

**Device info:**
{
      "active_time": 1621455966,
      "biz_type": 0,
      "category": "xdd",
      "create_time": 1616431445,
      "icon": "smart/icon/ay1530625888062OnLeq/f32d529926d6ab62ec8fea68431be6df.png",
      "id": "bf30fabf270dd43cecnunn",
      "ip": "xxx",
      "lat": "xxx",
      "local_key": "xxxx",
      "lon": "xxx",

[2021-07-09 12:17] menocode opened #117 "Cannot Log in"
**Describe the bug**
Cannot login to Tuya 2.
Successfully logged into Tuya, Tuya local and Tuya IOS app

**Expected behavior**
Invalid Authentication

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Home Assistant Version**
core-2021.7.1

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant

[2021-07-09 12:41] AndreOrth commented on #102
@tsutsuku thank you very much for your reply and information. I just created a ticket in the Tuya service console as you advised :).

[2021-07-09 13:15] MartinKuhl commented on #31
if I read the custom_components/tuya_v2/sensor.py file correctly none of the essential properties are read for the smoke detector.
https://developer.tuya.com/en/docs/iot/s?id=K9gf48r5i2iiy
e.g. battery_percentage / battery_state / smoke_sensor_value or smoke_sensor_status

[2021-07-09 14:20] HansHM opened #118 "BW-SHP6. PIR Light. Shows offline. In app en IoT it is online"
**Describe the bug**
Divine not available, BW-SHP6. PIR Light. The Current, Power and Voltage are shown and up to date.

**Expected behavior**
Switch enabled

**Screenshots**
See screen shot
![2021-07-09 16_08_10-Configuration - Home Assistant](https://user-images.githubusercontent.com/46351946/125090754-02385e00-e0d0-11eb-8b2d-2f24bd6ebfd7.png)

**Home Assistant Version**
2021.7.0

**Device info

[2021-07-09 16:15] sajid2310 commented on #100
Yes this is the exact issue and device. Surprisingly it works on the existing HASS tuya (Switch on/off but no speed control)...

[2021-07-09 17:39] carlosvroque commented on #117
Hello there! I had the same error, turns out you need to have a project created after May 25 2021 in order for it to work. I, like you, already had a project created for Local Tuya but had to create a new one.
Here's the [FAQ ](https://github.com/tuya/tuya-home-assistant/wiki/FAQs)where they've written this requisite and their [official guide](https://developer.tuya.com/en/docs/iot/Platform_Config

[2021-07-09 18:19] kyleteal commented on #108
Thats too bad.. I don't know very little about how to code so I guess I will just use the Tuya app for now. Thank you!

I made a chart that correlates the HA temp to the actual temp in F/C.

HA Temp | Actual Temp F | Actual Temp C
142 | 61 | 16.11
144 | 62 | 16.67
145 | 63 | 17.22
147 | 64 | 17.78
149 | 65 | 18.33
151 | 66 | 18.89
153 | 67 | 19.44
154 | 68 | 20.00
156 | 69 | 20.56
158 | 70 | 21.11

[2021-07-09 18:19] #108 closed

[2021-07-09 18:55] carlosvroque opened #119 "Add support for RF PIR sensor"
**Device normal info**
- Positivo
- RF PIR Sensor

It's connected to an RF Alarm/gateway, the contact sensors are supported and work normally, but the PIR sensor is not displayed. Judging by the category "pir" it should be supported since 1.2 and I'm on 1.3.1.

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How

[2021-07-09 20:00] prehodacs commented on #102
@tsutsuku - thanks units are corrected - looks good now.
Although the Voltage range is still high - it shows 2302 V which would definitely too much for any machine in my household.
![Capture](https://user-images.githubusercontent.com/82179823/125130119-ba7dfa80-e100-11eb-915a-5d2abdace2a1.PNG)
In SmartLife app the correct value visible , in Home Assistant this value is multiplied by 10.
Can you co

[2021-07-09 21:09] Xelinor opened #120 "Temperature and Humidity Sensor outputting incompatible battery level to home assistant"
**Describe the bug**
My temperature and humidity sensor (product ID vvldcafpaiwnh3t3) is providing a sensor_battery entity in home assistant, but only reads an 'unavailable' state when I read from the sensor. In the API, it shows the level as 'high', which isn't supported by battery sensors in home assistant.

**Expected behavior**
sensor.battery device class entries in home assistant expect an es

[2021-07-09 21:39] StevenDavidWillimas opened #121 "Entity reverting to previous state"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Home Assistant Version**
- e.g. 2021.5.1

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-ho

[2021-07-09 22:29] petethumped commented on #121
OK with the caveat that I don't really know what I'm talking about, up to about an hour ago I had what I _think_ was the same problem with a Zigbee light switch connected via an Aldi Zigbee Gateway.

I've no idea how it got fixed, but immediately before it started working I did two things - I tried adding some additional Tuya APIs to my project and i did a full reboot of my HA server.

The APIs I

[2021-07-09 22:49] petethumped commented on #121
hahaaaa oops always RTFM I guess....

https://developer.tuya.com/en/docs/iot/Platform_Configuration_smarthome?id=Kamcgamwoevrx

[2021-07-09 23:42] jofotoo opened #122 "Devices not appearing in Home Assistant - not supported?"
**Describe the bug**
My devices (two water leak/humidity sensors) are not appearing in Home Assistant. Log appears to indicate they are not supported but they are a supported catergory.

**Expected behavior**
My devices would appear in Home Assistant

**Home Assistant Version**
2021.6.6

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/t

[2021-07-10 00:28] MickW69 commented on #91
Still no success here:
Tuya v1.3.1
Home Assistant 2021.7.0
Mobile App: TuyaSmart

2021-07-10 10:20:36 INFO (SyncWorker_8) [custom_components.tuya_v2.config_flow] TuyaConfigFlow._try_login finish, response:, {'code': 1106, 'msg': 'permission deny', 'success': False, 't': 1625876436422}

IOT platform set to Europe (new project)
Mobile app Australia

email & password used for login to app and IOT are

[2021-07-10 02:03] thetastate1 commented on #91
Understood still beta.

I get an 'Unknown error occurred' rather than 'Invalid authentication'.

Australian account. Project created today.

Devices appear in project under China rather than Europe as specified in documentation.

Development method in Tuya IoT console says 'Smart Home' not 'Smart Home PaaS' as documented.

Tuya cloud project type when adding Tuya V2 integration in HA is 0='Smart H

[2021-07-10 03:23] schmurrie commented on #96
Hi there

I have checked 3 times, refreshed the error log and there is no category wsdcg with function.

Is this possible ?

Can it be there is no error log for this item?

Seems to be pulling into Tuya IOT as Fahrenheit, and not converting to Celsius in HA. I'm my smartlife phone app it is definitely Celsius and working well.

Please assist further ?

[2021-07-10 03:55] thetastate1 commented on #91
Still no luck after persevering and creating two new Tuya developer accounts and several projects.

Appreciate any pointers @tsutsuku

All of my IoT cloud projects (in each developer account) successfully list all 55 Tuya devices but only under 'China'. One of the developer accounts is set to Australia and one to China. TuyaSmart app is Australia with +61 phone number. Both accounts list the devic

[2021-07-10 04:18] elastictiger commented on #94
Interested as well. Brilliant Lighting and Mercator Ikuu in Australia I believe are OEMs relying/powered by Tuya. If home assistant api is opened up for OEM developers to include on their platforms, then that would awesome

[2021-07-10 10:09] alkalinelito commented on #107
Hi, it's a dehumidifier

[2021-07-10 11:15] prehodacs opened #124 "BW-IS8 Temperature and Humidity sensor not supported"
**Describe the bug**
I am using BW-IS8 Temperature and Humidity sensor. This is zigbee sensor so it is connected via BW-IS10 zigbee gateway.
Sensor is not appearing in Home assistant

**Expected behavior**
sensor is visible in Home assistant, provide temperature and Humidity data, that can be used for automatizations

**Screenshots**
If applicable, add screenshots to help explain your problem.

**

[2021-07-10 11:20] prehodacs opened #125 "BW-IS2 Door and Window sensor not supported"
**Describe the bug**
I am using BW-IS2 Temperature and Humidity sensor. This is zigbee sensor so it is connected via BW-IS10 zigbee gateway.
Sensor is not appearing in Home assistant

**Expected behavior**
sensor is visible in Home assistant, provide open/close data, that can be used for automatizations

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Home Assistant

[2021-07-10 16:35] seayworld commented on #115
Adding 'Device Status Notification' resolved the issue.

[2021-07-10 16:35] #115 closed

[2021-07-10 18:41] pcking99 opened #126 "Missing Tuya items"
Hi, im missing these from Tuya V2:
Smart Security Panel PID: 9brhjvyfixyydzld
Smart Gateway PID: 2d7enxgwcxrtjs8g

They show up in IoT display and they are online.

[2021-07-10 20:38] soundslikeluke opened #127 "IR hub is not showing up as a device"
I have a IR hub in the Tuya app but it doesn't seem to be supported yet. Could this please be supported in a future releases as it would be really helpful.

[2021-07-10 20:39] #127 closed

[2021-07-10 20:39] soundslikeluke commented on #127
Wrong section

[2021-07-10 20:45] soundslikeluke opened #128 "Issues with country code when first setting up"
Describe the bug
A clear and concise description of what the bug is.
The issue I had was the documentation said to use the region I use on the app which is Australia so +61 but it kept showing an error. The only thing that worked was having Europes country code +44 even though my app uses Australia from the drop down menu.

Expected behavior
I should be able to put Australia as my country code not

[2021-07-10 21:23] cocacoli4ko opened #129 "Dimmer light switches listed as Light Modulator in iot.tuya.com are not displayed in HA"
Hi, not sure what more to provide since the device is not shown in HA. I have several devices from this type, none is available in HA. Devices are visible in iot Tyua (see scr shot)

**Device normal info**
- MoesHome
- Model https://www.aliexpress.com/item/33010332202.html

<img width="712" alt="Screenshot 2021-07-11 at 0 17 18" src="https://user-images.githubusercontent.com/9520520/125176699-3864

[2021-07-11 05:15] djhampson commented on #53
My issue was also resolved by linking my tuyasmart account with my iot project
![image](https://user-images.githubusercontent.com/21291326/125183552-bf56c180-e25a-11eb-9f2c-8059df59be57.png)

[2021-07-11 09:10] JGrantman opened #130 "Using Smart Life AND Tuya Smart Apps - Both Linked to same Cloud Project"
I have devices in both Smart Life and Tuya Smart Android app.  This is only method to limit which devices are available in Google Home because everyone that is attached to a home in the Google Home app has access to every device.

Using Home Assistant custom Tuya integration I am able to add any devices in my cloud project whether they come from Smart Life or Tuya Smart app.  When setting up Tuya

[2021-07-11 09:18] JGrantman commented on #130
I have a color rope light devices category "dd" product id "e2zw3ra5sd3vfx7r" that does not show option for scene_data in Home Assistant when added via Tuya V2 integration.  However, the same device when added via custom integration does show scene data selection option for device.  I have several other color lights and none are added with scene_data using Tuya V2 integration.

Is this a bug or un

[2021-07-11 11:30] asifkassam opened #131 "No Color Temperature Support for BNETA GU10 RGBW Bulb"
**Describe the bug**
No Temperature support for BNETA GU10 RGBW Bulbs

**Expected behavior**
Expect to be able to control white color temperature as is the case

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/67918736/125193312-17d29280-e24c-11eb-9e2e-711b0d78a3a5.png)

**Home Assistant Version**
- e.g. 2021.7.1

**De

[2021-07-11 11:35] asifkassam opened #132 "Add Support for BNETA IoT Smart Pet Feeder"
**Device normal info**
- BNETA
- Model

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
    {
      "active_time": 1608450719,
      "biz_type": 0,
      "category": "sp",
      "create_time": 1608450719,
      "icon": "smart/icon/ay1539074879262GYXmu/8f221d8164944466887c7febfa

[2021-07-11 12:31] psalamon744 opened #133 "Add Hama PIR to the supported device list"
**Device normal info**
- Hama
- 00176554

https://www.hama.com/00176554/hama-wifi-motion-detector

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
like this:
2021-07-11 10:49:49 DEBUG (SyncWorker_0) [tuya iot] Response: {
"result": [
{
"active_time": 1612095560,
"biz_type": 0,
"category":

[2021-07-11 13:02] smingoli opened #134 "Smart RGB Plug can control only light and not plug"
**Describe the bug**
Home Assistant shows only the light part of the Smart RGB Plug, no way to control plug on/off.

**Expected behavior**
I expect to be able to control both the RGB part and the Plug with 2 separate entities one for light and one for plug

**Screenshots**
![Screen1_lightcontrol](https://user-images.githubusercontent.com/43744973/125195564-77ce3680-e256-11eb-8cb9-65d9bd0f72a9.png)

[2021-07-11 13:46] gomble commented on #64
Camera Support would be nice !!!

[2021-07-11 13:48] psalamon744 opened #135 "Add WiFi door / window contact to the supported list"
**Device normal info**
- Hama
- 00176553

https://www.hama.com/00176553/hama-wifi-door-window-contact

2021-07-11 15:19:37 DEBUG (SyncWorker_6) [tuya iot] Response: {
  "result": [
    {
      "active_time": 1612132643,
      "biz_type": 0,
      "category": "qt",
      "create_time": 1612132643,
      "icon": "smart/icon/ay1531739836474naEnL/15650922466b025ff0444.png",
      "id": "467000262cf432

[2021-07-11 17:47] ameran opened #136 "Invalid Authentication"
Can't setup integration/add account.

I've entered all the details correctly, tried & checked several times.
Checked the SmartLife app, signed out and signed back in with the same username and password (tried several times)
I've also tried the following country codes - +27, 27, ZA. All give the same error code.
From South Africa, closest Management site is Europe. On the IOT site, I've tried with

[2021-07-12 00:54] thetastate1 commented on #91
What a difference a day makes ;)
No changes on my side but magically I started getting "Invalid authentication" rather than "Unknown error occurred" this morning. Just popped the +61 instead of 61 and bingo. All working.

[2021-07-12 03:02] tsutsuku commented on #135
@psalamon744 As Category qt can't be standardized, so this device can't be supported.

[2021-07-12 03:03] tsutsuku commented on #133
As Category qt can't be standardized, so this device can't be supported...

[2021-07-12 03:34] tsutsuku commented on #136
@ameran Login error code？

[2021-07-12 03:37] sambarlick commented on #60
I'm still not getting the motion state updating, only the battery state. I re-paired my sensor changed batteries and even ran it on usb power, still nothing. This is obviously not using the notification service that the door/window sensor uses.

[2021-07-12 03:46] tsutsuku commented on #134
@smingoli  Get it, we will fix in next release.

[2021-07-12 03:49] tsutsuku commented on #131
@asifkassam  It's an RGBW bulb. It does not support temperature.

[2021-07-12 03:55] tsutsuku commented on #130
@JGrantman
1. You can fork tuya v2 integration and create your custom integration, then you can login tuya v2 with Smart Life and login your custom integration with Tuya Smart app.
2. scene_data is unsupported now, we will consider it.

[2021-07-12 03:58] tsutsuku commented on #129
@cocacoli4ko Can you provide your device specifications?

[2021-07-12 04:00] tsutsuku commented on #128
@soundslikeluke The country code is the country code when you login in SmartLife or Tuya Smart app.

[2021-07-12 04:00] tsutsuku commented on #126
Can you provide your device specification?

[2021-07-12 05:19] ameran commented on #136
Just tried again, got this:

2021-07-12 07:17:39 INFO (SyncWorker_4) [custom_components.tuya_v2.config_flow] TuyaConfigFlow._try_login finish, response:, {'code': 1106, 'msg': 'permission deny', 'success': False, 't': 1626067059535}

[2021-07-12 05:34] ameran commented on #136
Just tried something this user tried:
https://github.com/tuya/tuya-home-assistant/issues/90#issuecomment-874073232

Entered the gg- account name and it worked.

Also initially created my smart life account with a Google account.

[2021-07-12 06:16] asifkassam commented on #131
you're right, my bad on this one, it is the same in the app, only difference is that the HA RGB color wheel can give you a cool white  and there is then no way to go back to the bulbs normal warm white color, whereas in the app, reverting to white  works, with no CT slider and is always warm white

[2021-07-12 06:23] Sthopeless commented on #103
@tsutsuku please take a look at my question.

[2021-07-12 06:35] soundslikeluke commented on #128
I know that but my country on the app is Australia but in the app Australias country code didn't work

[2021-07-12 07:47] pcking99 commented on #126
I'm new at tuya and dont know so much about getting a debug report but here is what i can get for the IoT view:
Staniot E800:
URL: https://www.aliexpress.com/item/1005002314591173.html?spm=a2g0s.9042311.0.0.7fc34c4dWGMabk
Standard Function Set:
master_mode | Enum | {"range":["arm","home","sos","disarmed"]}
-- | -- | --
delay_set | Integer | {"unit":"s","min":0,"max":181,"scale":0,"step":1}
alarm_t

[2021-07-12 07:52] cocacoli4ko commented on #129
@tsutsuku I'm not sure how to get the specifications... Can I get this from the Tuya app or in the cloud? What exactly is needed - hardware inside or software version? I can try to ask the manufacturer too

[2021-07-12 14:35] ctenuta commented on #111
I was having the same problem with my WIFI contact sensor. After subscribe the device status notification, I had to reinstall tuya v2 integration in Home Assistant and it is now working  properly.

[2021-07-12 14:50] rcassel52 opened #138 "Treatlife devices not exposed"
**Device normal info**
- Brand Treatlife
- Model DS01C (Dimmer) and DS02F (Fan Controller)

DS01C and DS02F are not exposed in Tuya V2.   Switch SS01S are exposed.
The SS01S and DS01C work in standard Tuya.

Is there a manual way to configure these 2 devices?

[2021-07-12 16:06] patrik-malina commented on #111
I'm having same problem. Today noticed mine temp & humidity sensors are not updating for 3 days. Then after reload integration, they updated immediately. Also, door sensor updating after reloading for cca 10 sec. Then it's stopped to update.

Device status notification is activated from start.
I'm attaching full log if helps:

[log.txt](https://github.com/tuya/tuya-home-assistant/files/6802838/log

[2021-07-12 16:29] sajid2310 commented on #20
2nd fan no I cannot. For the 1st fan i can see the switch but no speed.

[2021-07-12 17:44] patrik-malina commented on #31
Any idea, why mine status is empty?

[2021-07-12 19:50] SM-26 commented on #136
I'm also getting the same problem, but my account isn't made by the google sso.

anything I could try to help me solve this as well?

[2021-07-12 19:54] gonzasmts commented on #23
Is it possible to have the low level sensor available in HA?

[2021-07-13 02:08] tsutsuku commented on #138
@rcassel52 Can you provide your device specifications?

[2021-07-13 02:18] tsutsuku commented on #136
@SM-26 https://github.com/tuya/tuya-home-assistant/discussions/81

[2021-07-13 03:02] thewolf-oz commented on #96
I'm getting the same issue where Tuya appears to be dealing with Farenheit and the app is converting to Celsius however HA is showing the Farenheit temperature with the Celsius tag

[2021-07-13 05:08] JDStudiosAuto commented on #138
I have the same issue. The dimmer switches show up on the developer page but not exposed in the Tuya V2.
The following link is to the particular dimmer switches not showing.
https://www.amazon.com/gp/product/B07PJTLB7Z/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

[2021-07-13 08:32] kbarendrecht commented on #52
@andytuinman3 Can you verify if you have added the `Device status notification API` to your tuya developer account, AND authorized your project to use that API? Its working for me now 🎉

[2021-07-13 08:33] kbarendrecht commented on #39
@tsutsuku This is working now, thanks to the new setup guide 😄
The problem was not having the `Device status notification API`.

[2021-07-13 08:33] #39 closed

[2021-07-13 08:36] kbarendrecht commented on #121
@petethumped I was one of the first trying this integration, before that guide existed. thanks to your post I found out I need to register that API. Thanks 😄
@StevenDavidWillimas configuring the device status notifcation api solved this problem for me, can you verify it works for you too and close this?

[2021-07-13 08:48] andytuinman3 commented on #52
You are a hero. It works like a charm now. Every 30 seconds the power consumption refreshes now. This issue is solved for me now

[2021-07-13 08:48] #52 closed

[2021-07-13 08:57] schmurrie commented on #111
Question for you, is the Arlec temp sensor showing in Celsius or Fahrenheit ? I assume your in au

Cheers

[2021-07-13 09:00] schmurrie commented on #96
Bump.. will there be a fix for this ?

[2021-07-13 09:04] thewolf-oz commented on #96
In the interim, I've setup a conversion sensor:

  - platform: template
    sensors:
      sensor1_temperature_in_c:
        friendly_name: "Sensor 1_temperature In °C"
        unit_of_measurement: "°C"
        value_template: >-
          {{ "%.2f"|format(( states("sensor.multisensor1") | float - 32 ) * 5/9)}}

[2021-07-13 10:45] schteff opened #139 "Enable energy monitoring for DELTACO SH-P02E"
**Device normal info**
- Brand: DELTACO
- Model: SH-P02E

The device **HAS** energy monitoring (the E in the model name) which I can see in the Tuya Smart App. But I don't see any energy monitoring in the Tuya V2 integration.

Using the alternative "local tuya" integration i can get the values, but I guess that integration will be deprecated when this V2 is finished.

**Device info:**
[code]

**De

[2021-07-13 10:47] schteff commented on #139
Swedish product info page: https://www.deltaco.se/produkter/deltaco/smart-home/grenuttag/SH-P02E

energiövervakning means "energy monitoring".

[2021-07-13 10:49] schteff commented on #139
![Screenshot_20210713-124842_Tuya Smart](https://user-images.githubusercontent.com/2564884/125439557-e22d7f55-80a2-4582-b0aa-2810cf1f757d.jpg)
![Screenshot_20210713-124913_Tuya Smart](https://user-images.githubusercontent.com/2564884/125439563-0e18b621-9d9a-47b9-9942-0aa8459046af.jpg)

[2021-07-13 11:32] tsutsuku commented on #139
@schteff This device needs to be standardized. We will fix it soon.

[2021-07-13 11:40] tsutsuku commented on #96
@schmurrie Any logs same device id with specifications?

[2021-07-13 11:55] tsutsuku commented on #31
@patrik-malina Your device needs to be standardize. We will fix it soon.

[2021-07-13 12:01] tsutsuku commented on #126
Smart Security Panel - Category mal is not supported now.
Zigbee sub devices like sensors can work without gateway has an Home Assistant entity now.

[2021-07-13 12:04] tsutsuku commented on #103
@Sthopeless we will consider it.
Also welcome to create a PR to support the lock.
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Develop-a-New-Driver

[2021-07-13 12:07] tsutsuku commented on #128
@sanshengshui Can you provide your account and login logs?
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Get-the-Log

[2021-07-13 12:08] tsutsuku commented on #122
@jofotoo Your device needs to be standardized. We will fix it soon.

[2021-07-13 12:14] tsutsuku commented on #112
@ranrinc More details?

[2021-07-13 12:15] tsutsuku commented on #111
@patrik-malina Get it.

[2021-07-13 12:47] Sthopeless commented on #103
@tsutsuku please add more features to the locks, we need at least to be able to see the status of the lock and be able to open/close it all via Home Assistant.

Only this is not enough
[code]

[2021-07-13 14:14] gijsje commented on #102
I have uploaded all the latest files to my custom components but it still shows the wrong voltage and power
![2021-07-13](https://user-images.githubusercontent.com/10455161/125467426-846112e7-1cf3-431a-a249-3d03861e0cc6.png)
This is with a 40w light bulb

[2021-07-13 14:30] iotinkognito commented on #30
+1

[2021-07-13 14:34] iotinkognito opened #140 "Bluetooth PIR Sensors"
My Arlec Bluetooth gateway is being detected and it's sensors by the integration. I have a Arlec PIR sensor paired which physically detects the motion (red light) and logged in SmartLife app but not coming through to Home Assistant.

[2021-07-13 14:38] iotinkognito opened #141 "All Devices Show incorrect state."
I have removed original Tuya Integration and only use v2. When I click a device to switch it on it toggles back to the original state. I.e if it's showing as off in the device/entity detail screen and then I "turn it on" it reverts back to off. This is all lights.

[2021-07-13 15:44] JGrantman commented on #130
That is an excellent idea.  Had not thought about 2nd integration which may be better option than two cloud app/accounts tied to a single integration.

[2021-07-13 15:44] #130 closed

[2021-07-13 20:43] timota commented on #9
According to current vacuum code `paused` state should be supported in status

[code]

most vacuums doesnt have that attribute or doesnt report it at all. (checked via virtual devices as well). But paused definitely supported on devices and can be set. Also that status reported in current state via mode
[code]

can that be changed please to check supported modes and not status, as i strongly belie

[2021-07-13 21:35] petethumped commented on #141
you are not alone

https://github.com/tuya/tuya-home-assistant/issues/121#issuecomment-877495753

[2021-07-14 02:05] tsutsuku commented on #140
@iotinkognito there is a bug in PIR sensor, we will fix it in next release.

[2021-07-14 02:17] tsutsuku commented on #9
@timota Welcome to create a PR, and I will review it.

[2021-07-14 02:20] tsutsuku commented on #102
@gijsje Can you provide your device specification?

[2021-07-14 03:38] hiraniha commented on #72
@tsutsuku

Any update?

[2021-07-14 06:19] schmurrie commented on #96
I'll have to give this a go, cheers

Are you able to get the logs for this searching for 'function'

I've searched the whole log, and it isn't there. Weird. Tuya rep is asking and not sure how to go forward

Your also in oz yeah? 👍👍

[2021-07-14 09:26] ictworkshop opened #142 "blind Motor"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Home Assistant Version**
- e.g. 2021.5.1

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-ho

[2021-07-14 09:29] alexreddy78 opened #143 "Door and Window sensor WIFI does not changing status in HA (open/closed)"
{
  "result": {
    "active_time": 1624267199,
    "biz_type": 18,
    "category": "mcs",
    "create_time": 1600710779,
    "icon": "smart/product_icon/qt.png",
    "id": "",
    "ip": "",
    "lat": "",
    "local_key": "",
    "lon": "",
    "name": "Дверь Тайная комната",
    "online": true,
    "owner_id": "16305239",
    "product_id": "7by9ERqg60JA8wxA",
    "product_name": "Door Sensor",

[2021-07-14 09:33] alexreddy78 opened #144 "PIR WIFI sensor"
{
  "result": {
    "active_time": 1600712608,
    "biz_type": 18,
    "category": "pir",
    "create_time": 1600712608,
    "icon": "smart/icon/ay1524194438166Zg2hZ/c3db264e1bc8e6ab11cf88171e87dc39.jpg",
    "id": "",
    "ip": "",
    "lat": "",
    "local_key": "",
    "lon": "",
    "name": "Душ",
    "online": true,
    "owner_id": "16305239",
    "product_id": "XFD2nSDKxFlGV5sV",
    "produc

[2021-07-14 09:54] MickW69 commented on #144
Me too, Arlec movement sensor and door sensor, neither send updates.

[2021-07-14 11:44] schmurrie commented on #96
Would you mind sharing more info where to put this code ? It's not in the main config yaml file is it ?
Thanks

[2021-07-14 12:42] schmurrie commented on #96
so I have made a conversion in the configuration.yaml file.
sensor:
  - platform: template
    sensors:
      indoor_temp_c:
        unit_of_measurement: '°C'
        value_template: "{{ ((states('sensor.XXXXXXXXXXXXX') | float - 32 ) * 5/9 )}}"

Any idea how I can display less decimal places?

<img width="300" alt="2021-07-06 10_48_40-Overview - Home Assistant" src="https://user-images.githubuser

[2021-07-14 12:47] thewolf-oz commented on #96
Hey mate! Yes, I’m in Oz (locked down in Sydney currently)

straight in main config yaml or wherever your sensors go. The “%.2f”|format is what shortens it to 2 decimal places

[2021-07-14 12:51] tv4you2016 opened #145 "Help Add Commands direction_control,mode,suction"
Hello friends.
I have a vacuum with the following setting:

![Capturar](https://user-images.githubusercontent.com/83761813/125624411-4f37d147-e58e-4381-b40c-056b0c150456.PNG)

I would like to know how I can add:
-> **direction_control** ({"range":["forward","backward","turn_left","turn_right","stop"]})
-> **mode** ({"range":["standby","smart","wall_follow","spiral","single","chargego"]})
-> **suct

[2021-07-14 13:35] schmurrie commented on #96
Nice, over  here in Perth myself.

Couldnt for the love of me get your code working, probably missing a space or something. ahh YAML

Anyways the below conversion works for me. Now need to wait and see if it updates by itself :)
<img width="261" alt="2021-07-14 21_35_01-Overview - Home Assistant" src="https://user-images.githubusercontent.com/79039030/125631218-c440c5b1-4258-46fc-a7e1-7b61089f47f2

[2021-07-14 13:50] gijsje commented on #102
@tsutsuku

{
"active_time": 1626184675,
"biz_type": 0,
"category": "cz",
"create_time": 1626184675,
"icon": "smart/icon/ay1519551146071pEnBd/f3fca8ef65c979cb1aed14fc878c9107.jpg",
"id": "",
"ip": "",
"lat": "",
"local_key": "",
"lon": "",
"name": "Anthony 1",
"online": true,
"owner_id": "5538396",
"product_id": "ab4kwxlrok0yvxuo",
"product_name": "BW-SHP6",
"status": [
{
"code": "switch",
"value":

[2021-07-14 13:57] gijsje opened #146 "Model：BW-SPF1 WiFi Pet Fountain Led Version/UV Version"
**Describe the bug**
There was already a issue for this device but this is closed.
https://github.com/tuya/tuya-home-assistant/issues/23

**Expected behavior**
The on/off for the pump and uv light work fine.
But the low water level sensor is not exposed
Would be great if this can be added

**Home Assistant Version**
- e.g. 2021.7.2

Device info
{
"active_time": 1615905100,
"biz_type": 0,
"category

[2021-07-14 15:11] ranrinc commented on #112
my tuya bulb is turn on/off using an old broadlink wall switch which is controlled using 433RF. Now when I turn off tuya bulb status will become unavailable, however, the status will remain turn on for a while until its turns into unavailable. I compare this with a hue lightbulb which will turn into unavailable right away.

[2021-07-14 18:03] timota commented on #9
i'm not a developer but will try my best.

[2021-07-14 18:38] jeneansantos opened #147 "My devices Breaker does not appear"
Hello, I installed version 1.3.1 of Tuya V2, but my devices Breaker do not appear,  any solution?
https://i.ibb.co/DY9w3FF/Screenshot-3.jpg

[2021-07-14 18:50] carlosvroque commented on #119
I really couldn't find the "device specifications" in log, so I went and checked the order of devices and found the log entry that "matched". If I did anything wrong or more info is needed, please let me know.

[2021-07-14 19:21] stuffmattdoes commented on #16
@tsutsuku any updates?

[2021-07-14 21:55] saharajesh880 commented on #144
Same here, tuya and sonoff motion sensor and tuya door sensor are not updating the status on HA

[2021-07-14 22:38] willhaigh opened #148 "Version 1.3.1 - Connection Reset by Peer"
When using 1.3.1 and attempting to set-up a new integration, I kept getting Unexpected Error. In the logs it was showing that the connection was reset by peer against URL https://openapi.tuyacn.com/v1.0/iot-01/associated-users/actions/authorized-login.

I installed 1.3.0 and selected Europe as the region and I have no issues against https://openapi.tuyaeu.com/v1.0/iot-01/associated-users/actions/a

[2021-07-14 23:25] schmurrie commented on #144
Same here with the arlec units. Only updates when you restart HA

[2021-07-14 23:33] schmurrie commented on #111
Same problem
After finally running a template to convert Fahrenheit to Celsius with the arlec units (most common  tuya product in Australia) I now realise they are also not updating 😤😤. They only update when i manually restart HA
![image](https://user-images.githubusercontent.com/79039030/125705776-a40673b3-2cf4-409e-94ed-126623b35b1a.jpeg)

[2021-07-15 00:50] kyleteal commented on #108
I found another interesting tid-bit about this. If a temperature in F is passed to the climate entity, even though it displays a number in the hundreds on the front end, the mini split AC does accurately change temperature.

For example I have a node red automation set up to change the temp every night to 72, and it works. In addition I can ask Siri to change the temperature using a F temp and tha

[2021-07-15 02:48] tsutsuku commented on #143
@alexreddy78 https://github.com/tuya/tuya-home-assistant/discussions/113

[2021-07-15 02:56] tsutsuku commented on #147
@jeneansantos Can you provide your device specification from the log?

[2021-07-15 03:36] tsutsuku commented on #146
@gijsje We will consider it.

[2021-07-15 04:39] akkaria commented on #96
Awesome conversion template. That was my next step but you've just made it easier for me, thank you.

From Sydney myself. Living the good old lockdown life.

If you're finding that it still isnt updating and you're impatient like me, a work around i've setup which is working nicely is a little automation to reload the integration every 30mins which will generally be close to sync with your update

[2021-07-15 04:41] akkaria commented on #111
If you're finding that it still isnt updating and you're impatient like me, a work around i've setup which is working nicely is a little automation to reload the integration every 30mins which will generally be close to sync with your update period on the sensor. Obviously the update period can be changed to suit. The automation as follows.

![image](https://user-images.githubusercontent.com/35688

[2021-07-15 05:04] akkaria commented on #111
{
  "result": {
    "active_time": 1625714946,
    "biz_type": 0,
    "category": "wsdcg",
    "create_time": 1625714946,
    "icon": "smart/icon/ay1536534747810ekKBj/156584130076b224f5a50.png",
    "id": "bfbe0404c92265986cpigd",
    "ip": "",
    "lat": "********",
    "lon": "********",
    "name": "Garage Temp",
    "online": false,
    "owner_id": "********",
    "product_id": "3ubxbto1",

[2021-07-15 07:04] tsutsuku commented on #145
@tv4you2016  I think new Select Entity can be used. Welcome to create a PR.

Refs:
https://github.com/tuya/tuya-home-assistant/pull/106
https://developers.home-assistant.io/docs/core/entity/select
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Develop-a-New-Driver

[2021-07-15 07:05] alexreddy78 commented on #143
Thx! Working now 👍🏻

[2021-07-15 07:06] tsutsuku commented on #142
@ictworkshop Can you provide your device specifications?

[2021-07-15 07:13] tsutsuku commented on #16
@stuffmattdoes "standardize" is done. Try again and provide your device specifications.

[2021-07-15 07:16] tsutsuku commented on #9
@timota Hope this can help you.
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Develop-a-New-Driver

[2021-07-15 07:46] alexreddy78 commented on #143
Noop! Still doesn’t work, changed to closed after HA reboot, but stuck the same status after…

[2021-07-15 07:46] tsutsuku commented on #119
@carlosvroque Your device is standradized. Try again.

[2021-07-15 07:57] alexreddy78 commented on #143
Pardon! Batteries…Confirm working

[2021-07-15 07:57] #143 closed

[2021-07-15 08:16] nscorpiok commented on #141
Same issue here with my light switch

[2021-07-15 08:24] vookimedlo commented on #101
Fixed.

[2021-07-15 08:24] #101 closed

[2021-07-15 08:32] alexreddy78 opened #149 "Tuya WIFI Thermostat, appear in HA integration, but no entity exist to control it"
{
  "result": {
    "active_time": 1604220841,
    "biz_type": 18,
    "category": "wk",
    "create_time": 1604220841,
    "icon": "smart/icon/15264583415nnlzwfs1qd2wqz6i937op3nmi_0.png",
    "id": "",
    "ip": "",
    "lat": "",
    "local_key": "",
    "lon": "",
    "name": "Тёплые полы",
    "online": true,
    "owner_id": "16105612",
    "product_id": "IAYz2WK1th0cMLmL",
    "product_name":

[2021-07-15 08:35] alexreddy78 opened #150 "Tuya WIFI Alarm Siren not appear in integration"
{
  "result": {
    "active_time": 1600715139,
    "biz_type": 18,
    "category": "sgbj",
    "create_time": 1600715139,
    "icon": "smart/icon/1528364694thahb9sok2l_0.png",
    "id": "",
    "ip": "",
    "lat": "",
    "local_key": "",
    "lon": "",
    "model": "",
    "name": "Сигнализация на кухне",
    "online": true,
    "owner_id": "16305239",
    "product_id": "DYgId0sz6zWlmmYu",
    "

[2021-07-15 08:38] petethumped commented on #141
Try the fix in the link above.

[2021-07-15 08:39] alexreddy78 opened #151 "Tuya Wifi Smoke Detector, no entity in HA, only battery status and shown as unavailable"
{
  "result": {
    "active_time": 1611949452,
    "biz_type": 18,
    "category": "ywbj",
    "create_time": 1603378663,
    "icon": "smart/icon/ay1537847617560vAgbw/98dd275e7b0720f5b691906080b7651b.png",
    "id": "52551750483fda5b5585",
    "ip": "31.173.87.22",
    "lat": "55.58741721721499",
    "local_key": "423351a9fcc6088f",
    "lon": "37.65151949393897",
    "name": "Детектор дыма",

[2021-07-15 09:31] ictworkshop commented on #142
Its a BENEXMART Wifi DIY Roller Shade Driver Built In Battery Blind Motor. It has a small usb wifi hub which connects to the blind motor. Hope this helps. Regards Sent from Mail for Windows 10 From: tsutsukuSent: 15 July 2021 8:06 amTo: tuya/tuya-home-assistantCc: ictworkshop; MentionSubject: Re: [tuya/tuya-home-assistant] blind Motor ***@***.*** Can you provide your device specifications?—You are

[2021-07-15 12:16] jeneansantos commented on #147
@tsutsuku
Device Information
Product Name
Latched hidden Switch Single pro
Device ID
eb96bca70878fa6e6fjiqx
Product Category
tdq
Device Status
Online
Activated At
2021-07-08 20:20:09

[2021-07-15 12:52] carlosvroque commented on #119
Thanks a lot for the reply!
Now the device shows up in HA but it does **not** update.

![image](https://user-images.githubusercontent.com/65680394/125790815-e2648847-90b8-47dc-992d-06b1db1919f6.png)

It looks like the same issue as #57, so I guess I'll wait until the next update and try again.

In case it's helpful here are the new logs:

[2021-07-15 15:44] escobarin3 opened #152 "Robot Vacuum and Curtain always "opening" or "cleaning" - Not showing current state"
Hello.. I've been trying TUYA 2 integration for a week and I haven't found where to fix the fact that my robot vacuum is always in "cleaning" state and my curtain is always "opening"... HA is not showing me the current state of this devices/entities.

I have had a similar problem with sensors (temperature, humidity, lux and door) but it was easily fixed by subscribing to the "Device status notific

[2021-07-15 17:44] tbratfisch opened #153 "No devices are added"
**Describe the bug**
Please help:
I tried to setup everything according to the docs, but I'm failing - maybe I just need help to set up tuya IOT properly?
In the log below there's the error "[tuya iot] error while get mqtt config"

I didn't know whether the country code in ha-tuya-v2 should be the numeric one or the region code used by tuya (eu, us and so on) - I tried both without success, maybe

[2021-07-15 18:07] jofotoo commented on #122
Thanks, I'm seeing them now, but not seeing battery level. Each of my sensors shows temp, humidity and moisture. Can battery level be added?

[2021-07-15 20:51] alkalinelito commented on #107
This are the device pictures, no idea why tuya cloud classifies it as "Air conditioner"

![image](https://user-images.githubusercontent.com/62256/125855785-2062f4f0-38f0-4c38-87de-64510b2fd6a7.png)

[2021-07-15 23:19] RaptorPR443 commented on #109
Last logged: 7:13:59 PM

Uncaught thread exception
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/threading.py", line 954, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.9/site-packages/tuya_iot/openmq.py", line 173, in run
    time.sleep(self.mq_config.expireTime - 60)
AttributeError: 'TuyaOpenMQ' object has no attribute 'mq_config'

Logger: tuya iot
Source

[2021-07-16 01:51] tsutsuku commented on #152
@escobarin3 I think it's a bug. Can you provide your device specification, so we can fix it?

[2021-07-16 01:52] tsutsuku commented on #109
https://github.com/tuya/tuya-home-assistant/wiki/How-to-Get-the-Log

[2021-07-16 01:55] tsutsuku commented on #153
@tbratfisch Can you find this request and response in the log?
v1.0/iot-03/open-hub/access-config

[2021-07-16 03:17] escobarin3 commented on #152
The **Robot Vacuum** device details according to **API explorer** in iot.tuya.com, are as follows:
{
  "result": {
    "active_time": 1623820742,
    "biz_type": 18,
    "category": "sd",
    "create_time": 1623696451,
    "icon": "smart/device_icon/az1580355797792RnGLw/eb3104a1b9c3b557c6fjuk162371200614966.png",
    "id": "eb3104a1b9c3b557c6fjuk",
    "ip": "186.30.82.248",
    "lat": "4.6578645"

[2021-07-16 03:37] nscorpiok commented on #141
This finally works! Thank you so much :)

[2021-07-16 03:42] escobarin3 commented on #152
The **BLIND CURTAIN** device details according to API explorer in iot.tuya.com, are as follows:
{
  "result": {
    "active_time": 1621402902,
    "biz_type": 18,
    "category": "cl",
    "create_time": 1620683820,
    "icon": "smart/icon/ay1557197822668c8orI/7b96686ed02a5b8143226f356897c054.png",
    "id": "40117623e868e7668bda",
    "ip": "186.30.82.248",
    "lat": "4.6578645",
    "local_key"

[2021-07-16 03:43] escobarin3 commented on #152
Is this information enough? Please let me know if you need more specific information.

[2021-07-16 03:52] escobarin3 commented on #152
I just noticed/realized that curtain motor is not working with Tuya 2 integration... I've been using the curtain through SmartThings integration instead of Tuya 2. I was confused... However it is a fact that is not working with Tuya 2.

![Captura de Pantalla 2021-07-15 a la(s) 10 50 09 p  m](https://user-images.githubusercontent.com/85810778/125889076-423cf2a1-88dd-4aa0-90eb-18de615e8938.png)

[2021-07-16 05:07] escobarin3 commented on #152
Actually... if you move the position slider, it will set the curtain motor to the selected position... but the current state or controls are not available
![image](https://user-images.githubusercontent.com/85810778/125894641-a3ee04e4-bfa1-49b6-bf9f-9a8f4b5aea04.png)

[2021-07-16 09:30] patrik-malina commented on #153
Hi @tsutsuku , integration stopped to working suddenly. I think after upgrading to HA 2021.7.2.

This is what I'm finding in log file:

2021-07-15 18:35:48 DEBUG (MainThread) [tuya iot] start
2021-07-15 18:35:48 DEBUG (Thread-147) [tuya iot] Request: method = POST, url = https://openapi.tuyaus.com/v1.0/iot-03/open-hub/access-config, params = None, body = {'uid': 'eu1602628501573H9rx2', 'link_id':

[2021-07-16 10:03] WildeRNS commented on #45
Any news, when rest sensors will be available?

[2021-07-16 15:20] tsutsuku commented on #153
Try v1.3.2.
Integration login in v1.3.1 causes an error as Tuya Open API login API has updated on Jul 15.

[2021-07-16 15:49] patrik-malina commented on #153
Its working now. Thx.

[2021-07-16 15:51] patrik-malina commented on #151
Smoke detector works now, only battery info is missing for me.

[2021-07-16 15:53] patrik-malina commented on #150
Same here:

{
"active_time": 1603897385,
"biz_type": 18,
"category": "wsdcg",
"create_time": 1603897385,
"icon": "smart/icon/1534401999ezpgt19rc8l_0.png",
"id": "02474500bcddc2690c74",
"ip": "46.17.124.38",
"lat": "45.4122199",
"local_key": "91423f3428b21f08",
"lon": "19.3027823",
"model": "NAS-AB02W0-1 Temperature and Humidity",
"name": "Alarm",
"online": true,
"owner_id": "17222907",
"product_id

[2021-07-16 15:54] patrik-malina commented on #149
Same here:

{
"active_time": 1605952059,
"biz_type": 18,
"category": "qn",
"create_time": 1605952059,
"icon": "smart/icon/ay1539244260287RY0l6/15591841423ee64e9437b.png",
"id": "bf40b9e3bb5c1f2e01wxjf",
"ip": "46.17.124.38",
"lat": "45.4122106",
"local_key": "8b7187c5959db9ef",
"lon": "19.3027781",
"model": "ETOP-HT",
"name": "Thermostat",
"online": true,
"owner_id": "17222907",
"product_id": "0yj

[2021-07-16 15:57] patrik-malina commented on #147
Here is mine info:

{
"active_time": 1617294289,
"biz_type": 18,
"category": "tdq",
"create_time": 1617294289,
"icon": "smart/icon/ay1543221103243UgKoi/d8b0e95a865addc4fa431854beb549cd.png",
"id": "bf59ce4eb1d4f7b3b0gc2t",
"ip": "46.17.124.38",
"lat": "45.4122106",
"local_key": "3120ba6ed7e060cb",
"lon": "19.3027781",
"model": "Latched hidden Switch Single pro",
"name": "Living Room Lamp",
"online

[2021-07-16 15:59] patrik-malina commented on #105
Mine info if helps:

{
"active_time": 1617294289,
"biz_type": 18,
"category": "tdq",
"create_time": 1617294289,
"icon": "smart/icon/ay1543221103243UgKoi/d8b0e95a865addc4fa431854beb549cd.png",
"id": "bf59ce4eb1d4f7b3b0gc2t",
"ip": "46.17.124.38",
"lat": "45.4122106",
"local_key": "3120ba6ed7e060cb",
"lon": "19.3027781",
"model": "Latched hidden Switch Single pro",
"name": "Living Room Lamp",
"onlin

[2021-07-16 16:01] patrik-malina commented on #102
with v1.3.2 everything ok with me

[2021-07-16 16:03] patrik-malina commented on #31
in v1.3.2 its shows up in HA. Missing battery info tho. Will test tomorrow if its working.

[2021-07-16 16:08] patrik-malina opened #155 "Garage Door opener missing status"
**Describe the bug**
Garage Opener shows switch but no status.

**Expected behavior**
It should also show status opened/closed

**Home Assistant Version**
2021.7.3 and tuya v2 1.3.2

**Device info (please complete the following information, which can be found in [log](https://github.com/tuya/tuya-home-assistant/wiki/How-to-get-the-log)):**
{
"active_time": 1610614293,
"biz_type": 18,
"category": "

[2021-07-16 16:17] patrik-malina commented on #147
I would make new pull, but idk how.
adding this line in TUYA_SUPPORT_TYPE in switch.py finds mine:
"tdq",    # Breaker

[2021-07-16 16:25] MartinKuhl commented on #31
For me it is working now. Thanks a lot!

[2021-07-16 16:46] tbratfisch commented on #153
Works now for me too, but I had to change the api-endpoint to tuyaeu.com in the config-file, it was set to tuyaus.com.
My fan and my IR-sender are not (fully) supported yet, I'll try to add this on my own and will submit the changes if I'm successful!

Thanks for helping me as a hassio-newbie! 👍

[2021-07-16 17:13] jeneansantos commented on #147
@patrik-malina Excellent, I added this line and appear all my devices. Thank you very much

[2021-07-16 17:13] #147 closed

[2021-07-16 17:19] #54 closed

[2021-07-16 17:22] strasharo commented on #89
Version v1.3.2 fixed it, the battery now shows "normal" state. Thanks, @tsutsuku !

[2021-07-16 17:22] #89 closed

[2021-07-16 17:29] Xelinor commented on #120
Update: this was resolved to just not report a battery state at all in 1.3.2. Not a 'fix' per-se, but it does resolve it in the mean time.

[2021-07-16 17:29] #120 closed

[2021-07-16 17:58] alexreddy78 commented on #151
Confirm, working now

[2021-07-16 17:58] #151 closed

[2021-07-16 18:15] alexreddy78 commented on #144
@tsutsuku after update to v 1.3.2 issue still exist. Status of PIR is not changing in HA. I am wondering: was the latest update related to PIR status or it was fix for something else?

Regards!

[2021-07-16 21:28] michalpulda commented on #149
I have the same problem.

[2021-07-16 22:03] rcassel52 commented on #138
Sorry for the delay

Thank you for you response

I have 3 types of Treatlife switches
The SS01 (switch) work OK in the old Tuya and Tuya V2 Home Assistant
integration
The DS01C (Dimmer) works in old Tuya but do not work in Tuya V2
The DS02F (Fan control no light) does not work in either integration

All devices work in Alexia and the Tuya App.

SS01S
sw 1 Device ID: 651226133c6105c2b9e1 Product ID

[2021-07-17 00:55] carlosvroque commented on #119
After @tsutsuku changes and updating to version v1.3.2 the sensor is now working as intended!

Thanks a lot

[2021-07-17 00:55] #119 closed

[2021-07-17 01:54] tsutsuku commented on #144
https://github.com/tuya/tuya-home-assistant/discussions/113

[2021-07-17 02:40] riddler2608 commented on #57
Just updated and the movement sensor has gone to detected constantly. And added a different battery sensor. But the movement side of things won't go to clear always stays detected.
Might still need more work to get it sensing probably!

[2021-07-17 03:50] schmurrie commented on #96
Your a clever person! I got so excited finally having my tuya temps in HA and was real bummed when they weren't updating.

I'll try this next, is it working ok for you ?

[2021-07-17 05:48] alexreddy78 commented on #144
@tsutsuku I have already subscription to Device status notification and my door sensor is OK, but PIR is not updating statuses... :(
Any advise?

[2021-07-17 09:26] cylonr opened #159 "V2 version doens show on integration"
**Expected behavior**
After installl the V2 version, it only show Tuya on integrations... not the V2 version
![11s](https://user-images.githubusercontent.com/34467765/126032598-498fe318-4aa8-4ebc-b9a4-5bf093822171.jpg)

**Home Assistant Version**
2021.7.3

[2021-07-17 10:10] alexreddy78 commented on #144
Even in API Explorer -> Get Device status sensor always show state: PIR, however in Tuya Smart Life app IOS works normal
{
  "result": [
    {
      "code": "pir",
      "value": "pir"
    },
    {
      "code": "battery_value",
      "value": 59
    }
  ],
  "success": true,
  "t": 1626516376612
}

[2021-07-17 10:47] liantianji opened #160 "running error on my raspberry ha. how to work?"
login success.But not any devices in ha.
running error on my raspberry ha. how to work?
version:1.3.2
Home Assistant Version: core-2021.2.3
log:
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 239, in async_setup
    result = await component.async_setup_entry(hass, self)  # type: ignore
  File "/config/custom_components/tuya_v2/__init__.py",

[2021-07-17 13:25] akkaria commented on #96
Yeah I was the same. Was so bummed out when it wouldn't update.

It is all working pretty well for me. Have had it running for the last 3 days. Screenshot of it updating ![Screenshot_20210717-154813_Home Assistant.jpg](https://user-images.githubusercontent.com/35688375/126038483-baf317a4-96b1-42d2-9d63-2816e8aa4881.jpg)

[2021-07-17 13:30] travisghansen opened #161 "Feit Electric Support"
Does this integration work with feit electric branded devices that have been paired to that app? If so any special instructions?

[2021-07-17 18:12] tombenetin commented on #149
Same problem..i see devices but here is no entity to control it.

[2021-07-17 18:21] nmisha commented on #159
+1 Ididn't see it in HACS and add ons

[2021-07-17 18:25] tbratfisch commented on #159
Did you add this repository to HACS?
see
https://github.com/tuya/tuya-home-assistant/wiki/Install-Tuya-v2

[2021-07-17 18:33] tbratfisch commented on #160
probably like your hassio-version is too old (looks like async_get was introduced in 2021.7.something), try updating it!

[2021-07-17 18:34] DanneG commented on #31
I can see the Smoke Alarm_smoke entity now but when I testing the detector it wont change status i HA, the Tuya app is working.
Has anyone else tested?